<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="css/light-theme.css" id="theme-link">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Gn538+uBaj5IVxxLlHVe92+be5RVHe8W7epq6Ez1lGnpaK64jgFOzN5CkePpuL5R56RtiwzWd1eEc2tQLWUn4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


   
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus'></i> -->
      <span class="logo_name" style="margin: auto;">GEMBA</span>
    </div>
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search...">
      <button id="searchButton">Search</button>

      

    </div>
    <ul class="nav-links">

      <li>
        <a href="/home">
          <i class='bx bx-pie-chart-alt-2' ></i>

          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/home">Dashboard</a></li>
        </ul>
      </li>
     
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">DEFINE ENTERPRICE STRUCTURE</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#"> DEFINE ENTERPRICE STRUCTURE</a></li>
          <li><a href="/companyform">Company</a></li>
          <li><a href="/creditcontrolarea">Credit Control Area</a></li>
          <li><a href="/companycode">Company code</a></li>
          <li><a href="/business">Business Area</a></li>
          <li><a href="/functionalarea">Functional Area</a></li>
          <li><a href="/profitcenter">Profit Center</a></li>
          <li><a href="/plant">Plant</a></li>
          <li><a href="/division">Division</a></li>
          <li><a href="/salesorganization">Sales Organizations</a></li>
          <li><a href="/distribuation">Distribution Channel</a></li>
          <li><a href="/salesoffice">Sales Office</a></li>
          <li><a href="/salesgrp">Sales Group</a></li>
          <li><a href="/storageloc">Storage Location</a></li>
          <li><a href="/purrchaceorg">Purchasing Organization</a></li>
          <li><a href="/shippingpoint">Shipping Point</a></li>
          <li><a href="/loadintpy">Loading Point</a></li>
          
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">ASSIGN ENTERPRISE STRUCTURE</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">ASSIGN ENTERPRISE STRUCTURE</a></li>
          <li><a href="/assigncompanycode">ASSIGN CMPNY CODE<br> TO CMPNY</a></li>
          <li><a href="/assignToCreditControl">ASSIGN CMPNY CODE TO<br> CREDIT CONTROL AREA</a></li>
          <li><a href="/assignPlant">ASSIGN PLANT<br> TO CMPNY CODE</a></li>
          <li><a href="/assignSalesOrganisation">AASSIGN SALES ORG. <br> TO CMPNY CODE</a></li>
          <li><a href="/assigndistributionChannel">ASIGN DIST. CHANNEL <br> TO SALES ORG.</a></li>
          <li><a href="/assignSalesOrganisation">ASSIGN DIV <br> TO SALES ORG.</a></li>
          <li><a href="/setupSalesArea">SETUP SALES AREA</a></li>
          <li><a href="/assignSalesOffice">ASSIGN SALES OFFICE<br>TO SALES AREA</a></li>
          <li><a href="/assign-sales-dist-plant">AASSIGN SALES ORG. -<br>DIST. CHANNEL - PLANT</a></li>
          <li><a href="/assignSalesToCredit">ASSIGN SALES AREA <br>TO CREDIT CONTROL AREA</a></li>
          <li><a href="/assignPurchasingOrg">ASSIGN PURCH. ORG. <br>TO CMPNY CODE</a></li>
          <li><a href="/assignPlant">ASSIGN PURCH. ORG. <br>TO PLANT</a></li>
          <li><a href="/StandardpurchasingOrg">ASSIGN STANDARD PURCH. ORG <br>TO PLANT</a></li>
          <li><a href="/refrencePurchasingOrg">ASSIGN PURCH ORG. <br>TO REF. PURCH. ORG.</a></li>
          <li><a href="/ruleBySalesArea">DEFINE RULES BY SALES AREA</a></li>
          <li><a href="/AssignBusinessArea">ASSIGN BUSINESS AREA TO<br> PLANT AND DIV</a></li>
          <li><a href="/assignbusinessareaBySales"> ASSIGN BUSINESS AREA<br>BY SALES AREA</a></li>
          <li><a href="/AssignShippingPoint">ASSIGN SHIPPING POINT<br>TO PLANT</a></li>
        </ul>
      </li>

      
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">CUSTOMER</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">CUSTOMER</a></li>
          <li><a href="/accountgrp">Account Group</a></li>
          <li><a href="/numrange">Number Range</a></li>
          <li><a href="/Sales_District">Sales District</a></li>
          <li><a href="/Customer_Group">Customer Group</a></li>
          <li><a href="/Price_Group">Price Group</a></li>
          <li><a href="/Price_List">Price List</a></li>
          <li><a href="/Delivery_Priorities">Delivery Priority</a></li>
          <li><a href="/Shipping_Condition">Shipping Condition</a></li>
          <li><a href="/Account_assignmentGrp">Account Assignment Group</a></li>
          <li><a href="/Inco_Terms">Incoterms</a></li>



        </ul>
      </li>

     <!-- <li>
        <a href="/PartnerDetermination">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <s pan class="link_name">PARTNER DETERMINATION </s>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/PartnerDetermination">PARTNER DETERMINATION </a></li>
        </ul>
      </li> -->

      <li>
        <a href="/sales">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">SALES ORDER</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/sales">SALES ORDER</a></li>
        </ul>
      </li>


      <!-- <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li> -->
      <!-- <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">PRICING</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">PRICING</a></li>
          <li><a href="/ConditionTable">Condition Table</a></li>
          <li><a href="/accessSequence">Access Sequence </a></li>
          <li><a href="/ConditionTypes">Condition Types</a></li>
          <li><a href="/DefAssPricingprocedure">Define and assign <br> Pricing Procedure</a></li>
        </ul>
      </li> -->

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">PHYSICAL INVENTORY</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Physical Inventory</a></li>
          <li><a href="/Physical_Plant_Param">Plant Parameters</a></li>
          <li><a href="/Physical_Number_Assgn">Number Assignment </a></li>
          <li><a href="/Physical_MIGO">Setting For Goods Movements(MIGO) </a></li>
          <li><a href="/Physical_Postings">Goods Issue/Transfer Postings </a></li>
          <li><a href="/Physical_Receipt">Goods Receipt </a></li>
          <li><a href="/Physical_Movements">Automatic Movements </a></li>


          
         
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">VENDOR</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">VENDOR</a></li>
          <li><a href="/VendorAccountGroup">Account Group</a></li>
          <li><a href="/VendorDefineScreen">Define Screen Layout </a></li>
          <li><a href="/VendorDefineTransaction">Define Transaction <br>Dependent Screen Layout</a></li>
          <li><a href="/VendorDefineNumRange">Define Number Range</a></li>
        </ul>
      </li>


     
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">SALES & DISTRIBUATION</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">SD - SALES DISTRIBUATION</a></li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_BasicFunction">Basic Function</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_MasterData">Master Data</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_Sales">Sales</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_Billing">Billing</a></li>
            </ul>
          </li>

         












          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/PartnerDetermination">Partner Determination</a></li>
            </ul>
          </li>

         

         
         
        </ul>
      </li>

          <!--  -->

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">Purchasing</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Purchasing</a></li>
          <li class="has-submenu">
            <a href="#">Purchase Requisition</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_NumberRange">Define Number Range</a></li>
              <li><a href="/Purchasing_DocumentTypes">Define Document Types</a></li>
              <li><a href="/Purchasing_ScreenLayout">Define Screen Layout</a></li>
             
            </ul>
          </li>

          

          <li class="has-submenu">
            <a href="#">Purchase Requisition-<br> Relase Procedure</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Charateristics">Edit Charateristics</a></li>
              <li><a href="/Purchasing_Classes">Edit Classes</a></li>
              <li><a href="/Purchasing_Classification">Set Up Procedure <br>With Classification</a></li>



            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Purchase Order</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseOrder_NumberRange">Number Range</a></li>
              <li><a href="/PurchaseOrder_DocumentTypes">Define Document Types</a></li>
              <li><a href="/PurchaseOrder_ScreenLayout">Define Screen Layout</a></li>

            </ul>
          </li>
          
          <li class="has-submenu">
            <a href="#">Purchase Order-<br>Relase Procedure</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseOrder_Charateristics">Edit Charateristics</a></li>
              <li><a href="/PurchaseOrder_Classes">Edit Classes</a></li>
              <li><a href="/PurchaseOrder_Classification">Set Up Procedure <br>With Classification</a></li>

            </ul>
          </li>

          
          <li class="has-submenu">
            <a href="#">Purchasing Info Records</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseInfo_NumberRange">Number Range</a></li>
              <li><a href="/PurchaseInfo_ScreenLayout">Define Screen Layout</a></li>

            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Source List</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Sourcelist">Define Source List <br>Requirement At Plant Level</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Quota Arrangment</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Quota_NumRange">Number Range</a></li>
              <li><a href="/Purchasing_Quota_Define">Define Quota<br>Arrangment Usage</a></li>
            </ul>
          </li>
          
          <li class="has-submenu">
            <a href="#">RFQ/Quotation</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_RFQ_NumRange">Number Range</a></li>
              <li><a href="/Purchasing_RFQ_Doc">Define Document Types</a></li>
              <li><a href="/Purchasing_RFQ_Rel">Relase Procedure <br> For RFQ</a></li>
              <li><a href="/Purchasing_RFQ_ScLayout">Define Screen Layout</a></li>


            </ul>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Explore</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Explore</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
        <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
    <!-- <div class="profile-details">
      <div class="profile-content">
        <img src="image/profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div> -->
  </li>

 

</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>


      <div id="side-panel">
       <button class="theme" onclick="toggleTheme()">
  🌙
</button>
      </div>
    </div>

    

<!-- for search button with Screen Code -->

<!-- Defination -->

<!-- Enterprise Structure -->
    <input type="hidden" id="GS10001" value="/companyform">
    <input type="hidden" id="GS10002" value="/creditcontrolarea">
    <input type="hidden" id="GS10003" value="/companycode">
    <input type="hidden" id="GS10004" value="/business">
    <input type="hidden" id="GS10005" value="/functionalarea">
    <input type="hidden" id="GS10006" value="/profitcenter">
    <input type="hidden" id="GS10007" value="/plant">
    <input type="hidden" id="GS10008" value="/division">
    <input type="hidden" id="GS10009" value="salesorganization">
    <input type="hidden" id="GS10010" value="/distribuation">
    <input type="hidden" id="GS10011" value="salesoffice">
    <input type="hidden" id="GS10012" value="/salesgrp">
    <input type="hidden" id="GS10013" value="storageloc">
    <input type="hidden" id="GS10014" value="purrchaceorg">
    <input type="hidden" id="GS10015" value="/shippingpoint">
    <input type="hidden" id="GS10016" value="/loadintpy">


    <!-- Assignment -->
    
    <input type="hidden" id="GS10017" value="/assigncompanycode">
    <input type="hidden" id="GS10018" value="/assignToCreditControl">
    <input type="hidden" id="GS10019" value="/assignPlant">
    <input type="hidden" id="GS10020" value="/assignSalesOrganisation">
    <input type="hidden" id="GS10021" value="/assigndistributionChannel">
    <input type="hidden" id="GS10022" value="/path/to/page6">
    <input type="hidden" id="GS10023" value="/setupSalesArea">
    <input type="hidden" id="GS10024" value="/assignSalesOffice">
    <input type="hidden" id="GS10025" value="/assign-sales-dist-plant">
    <input type="hidden" id="GS10026" value="/assignSalesToCredit">
    <input type="hidden" id="GS10027" value="/assignPurchasingOrg">
    <input type="hidden" id="GS10028" value="">
    <input type="hidden" id="GS10029" value="/StandardpurchasingOrg">
    <input type="hidden" id="GS10030" value="/refrencePurchasingOrg">
    <input type="hidden" id="GS10031" value="/ruleBySalesArea">
    <input type="hidden" id="GS10032" value="/AssignBusinessArea">
    <input type="hidden" id="GS10033" value="/assignbusinessareaBySales">
    <input type="hidden" id="GS10034" value="/AssignShippingPoint">


    <!-- Sales And Distribution -->
    <!-- Basic Function -->


    <!-- Pricing -->

    <input type="hidden" id="GS10035" value="/Condition">
    <input type="hidden" id="GS10036" value="/accessSequence">
    <input type="hidden" id="GS10037" value="/ConditionTypes">
    <input type="hidden" id="GS10038" value="/DefAssPricingprocedure">
    

    <!-- Free Goods -->
    <input type="hidden" id="GS10039" value="/Free_Goods_NumRange">
    <input type="hidden" id="GS10040" value="/Free_Goods_Condition">
    <input type="hidden" id="GS10041" value="/Free_Goods_accessSequenc">
    <input type="hidden" id="GS10042" value="/Free_Goods_ConditionTypes">
    <input type="hidden" id="GS10043" value="/Free_Goods_Pricingprocedure">
    <input type="hidden" id="GS10044" value="/Free_Goods_Determination">
    

    <!-- Outut Determination -->
    <input type="hidden" id="GS10045" value="/Output_Determination_SalesActivity">
    <input type="hidden" id="GS10046" value="/Output_Det_SA_Condition">
    <input type="hidden" id="GS10047" value="/Output_Det_SA_Output">
    <input type="hidden" id="GS10048" value="/Output_Det_SA_Access">
    <input type="hidden" id="GS10049" value="/Output_Det_SA_MaintainProcedure">
    <input type="hidden" id="GS10050" value="/Output_Det_SA_AssignProcedure">
    

    <!-- Maintain Output Determination for Sales Documents -->
    <input type="hidden" id="GS10051" value="/Output_Determination_SalesDoc">
    <input type="hidden" id="GS10052" value="/Output_Det_SDoc_Condition">
    <input type="hidden" id="GS10053" value="/Output_Det_SDoc_Output">
    <input type="hidden" id="GS10054" value="/Output_Det_SDoc_Access">
    <input type="hidden" id="GS10055" value="/Output_Det_SDoc_MaintainProcedure">
    <input type="hidden" id="GS10056" value="/Output_Det_SDoc_AssignProcedure">

    <!-- Maintain Output Determination for Billing Documents -->
    <input type="hidden" id="GS10057" value="/Output_Determination_Billing">
    <input type="hidden" id="GS10058" value="/Output_Det_Billing_Condition">
    <input type="hidden" id="GS10059" value="/Output_Det_Billing_Output">
    <input type="hidden" id="GS10060" value="/Output_Det_Billing_Access">
    <input type="hidden" id="GS10061" value="/Output_Det_Billing_MaintainProcedure">
    <input type="hidden" id="GS10062" value="/Output_Det_Billing_AssignProcedure">

    
    <!-- Listing/Exclusion -->
    <input type="hidden" id="GS10063" value="/Listing_Exclusion_Sales">
    <input type="hidden" id="GS10064" value="/Listing_Exclusion_Maintain">
    <input type="hidden" id="GS10065" value="/Listing_Exclusion_Procedures">
    <input type="hidden" id="GS10066" value="/Listing_Exclusion_Sequence">
    <input type="hidden" id="GS10067" value="/Listing_Exclusion_Allowed">
    <input type="hidden" id="GS10068" value="/Listing_Exclusion_Condition">
    
    <!-- Text Determination -->
    <input type="hidden" id="GS10069" value="/SD_Text_TextType">
    
    <!-- Route Determination -->
    
    <input type="hidden" id="GS10070" value="/SD_DefineRoutes">
    <input type="hidden" id="GS10071" value="/SD_DefineRoute_Transport">
    <input type="hidden" id="GS10072" value="/SD_DefineRoute_Shipping">
    <input type="hidden" id="GS10073" value="/SD_DefineRoute_Connection">
    <input type="hidden" id="GS10074" value="/SD_DefineRoute_Stage">

    <input type="hidden" id="GS10075" value="/SD_RouteDet">
    <input type="hidden" id="GS10076" value="/SD_RouteDet_Transport">
    <input type="hidden" id="GS10077" value="/SD_RouteDet_Shipping">
    <input type="hidden" id="GS10078" value="/SD_RouteDet_Transportation">
    <input type="hidden" id="GS10079" value="/SD_RouteDet_WeightGrp">
    <input type="hidden" id="GS10080" value="/SD_RouteDet_Determination">


    <!-- Availability Check and Transfer of Requirements-->
    <!-- Pending -->




    <!-- Credit Management --> 
    <input type="hidden" id="GS10081" value="/SD_CreditManagment">
    <input type="hidden" id="GS10082" value="/SD_Credit_Group">
    <input type="hidden" id="GS10083" value="/SD_Credit_Assign">
    <input type="hidden" id="GS10084" value="/SD_Credit_Control">
    <input type="hidden" id="GS10085" value="/SD_CreditLimit">

    <!-- Master Data -->
    <!-- Pending -->


    <!-- Sales -->

    <!-- Sales Document Header -->  
    <input type="hidden" id="GS10086" value="/SalesDocumentHeader1">
    <input type="hidden" id="GS10087" value="/SalesDocumentHeader2">
    <input type="hidden" id="GS10088" value="/SalesDocumentHeader3">


    <!-- Sales Document Items -->  
    <input type="hidden" id="GS10089" value="/saleDocumentItem_category">
    <input type="hidden" id="GS10090" value="/saleDocumentItem_categoryGroups">
    <input type="hidden" id="GS10091" value="/saleDocumentItem_categoryUsage">
    <input type="hidden" id="GS10092" value="/saleDocumentItem_AssignCategory">


    <!-- Schedule Line -->
    <input type="hidden" id="GS10093" value="/SubItem1">
    <input type="hidden" id="GS10094" value="/SubItem2">


    <!-- Billing -->

    <!-- Billing Documents  -->  
    <input type="hidden" id="GS10095" value="/SD_BillingDoc_Types">
    <input type="hidden" id="GS10096" value="/SD_BillingDoc_NumRange">


    <!-- Rebate Processing -->
    
    <input type="hidden" id="GS10097" value="/SD_Billing_Processing_NumRange">
    <input type="hidden" id="GS10098" value="/SD_Billing_Processing_ConditionTable">
    <input type="hidden" id="GS10099" value="/SD_Billing_Processing_accessSequence">
    <input type="hidden" id="GS10100" value="/SD_Billing_Processing_ConditionTypes">
    <input type="hidden" id="GS10101" value="/SD_Billing_Processing_Pricingprocedure">
    <input type="hidden" id="GS10102" value="/SD_Billing_Processing_Activate">


    <!-- Rebate Agreement -->
    <input type="hidden" id="GS10103" value="/AccessTable">
    <input type="hidden" id="GS10104" value="/path/to/page4">
    <input type="hidden" id="GS10105" value="/path/to/page5">
    <input type="hidden" id="GS10106" value="/path/to/page6">

    <!-- Account Determination for Rebates -->
<!-- Pending -->


    <!-- Paterner Determination -->
    <input type="hidden" id="GS10107" value="/PartnerDetermination">


    <!-- Vendor -->
    <input type="hidden" id="GS10108" value="/VendorAccountGroup">
    <input type="hidden" id="GS10109" value="/VendorDefineScreen">
    <input type="hidden" id="GS10110" value="/VendorDefineTransaction">
    <input type="hidden" id="GS10111" value="/VendorDefineNumRange">


    <!-- Physical Inventory -->
    <input type="hidden" id="GS10112" value="/Physical_Plant_Param">
    <input type="hidden" id="GS10113" value="/Physical_Number_Assgn">
    <input type="hidden" id="GS10114" value="/Physical_Number_Assgn_Accounting">
    <input type="hidden" id="GS10115" value="/Physical_Number_Assgn_Material">
    <input type="hidden" id="GS10116" value="/Physical_Number_Assgn_Reservation">
    <input type="hidden" id="GS10117" value="/Physical_Number_Assgn_Goods">
    <input type="hidden" id="GS10118" value="/Physical_Number_Assgn_MoveInitials">


    <!-- Setting for Goods Movement -->
    <input type="hidden" id="GS10119" value="/Physical_MIGO_Field">
    <input type="hidden" id="GS10120" value="/Physical_MIGO_Movement">

    <!-- Goods Issue Transfer Postings -->
  
    <input type="hidden" id="GS10121" value="/Physical_Postings_Storage">
    <input type="hidden" id="GS10122" value="/Physical_Postings_Assignment">
    <input type="hidden" id="GS10123" value="/Physical_Postings_ScLayout">
    <input type="hidden" id="GS10124" value="/Physical_Postings_Goods">
    <input type="hidden" id="GS10125" value="/Physical_Postings_Negative">


    <!-- Goods Receipt -->

    <input type="hidden" id="GS10126" value="/Physical_Receipt_Loc">
    <input type="hidden" id="GS10127" value="/Physical_Receipt_Purchase">
    <input type="hidden" id="GS10128" value="/Physical_Receipt_Assignment">
    <input type="hidden" id="GS10129" value="/Physical_Receipt_ScLayout">


    <!-- Automatic Movements -->
    
    <input type="hidden" id="GS10130" value="/Physical_Movements_Storage">
    <input type="hidden" id="GS10131" value="/Physical_Movements_Assignment">
    <input type="hidden" id="GS10132" value="/Physical_Movements_ScLayout">
    <input type="hidden" id="GS10133" value="/Physical_Movements_Goods">

    
    <!-- Purchasing -->

    <!-- Purchasing Requistion-Release Procedure -->

    <input type="hidden" id="GS10134" value="/Purchasing_Charateristics">
    <input type="hidden" id="GS10135" value="/Purchasing_Classes">
    <input type="hidden" id="GS10136" value="/Purchasing_Classification">


    <!-- Purchase Order -->
   
    <input type="hidden" id="GS10137" value="/PurchaseOrder_NumberRange">
    <input type="hidden" id="GS10138" value="/PurchaseOrder_DocumentTypes">
    <input type="hidden" id="GS10139" value="/PurchaseOrder_ScreenLayout">


    <!-- Purchase Order-Release Procedure -->
    
    <input type="hidden" id="GS10140" value="/PurchaseOrder_Charateristics">
    <input type="hidden" id="GS10141" value="/PurchaseOrder_Classes">
    <input type="hidden" id="GS10142" value="/PurchaseOrder_Classification">

    <!-- Purchasing Info Records -->
    <input type="hidden" id="GS10143" value="/PurchaseInfo_NumberRange">
    <input type="hidden" id="GS10144" value="/PurchaseInfo_ScreenLayout">
    
    <!-- Source List -->
    <input type="hidden" id="GS10145" value="/Purchasing_Sourcelist">

    <!-- Quota Arrangement -->
    <input type="hidden" id="GS10146" value="/Purchasing_Quota_NumRange">
    <input type="hidden" id="GS10147" value="/Purchasing_Quota_Define">

    <!-- RFQ/Quotation -->
    <input type="hidden" id="GS10148" value="/Purchasing_RFQ_NumRange">
    <input type="hidden" id="GS10149" value="/Purchasing_RFQ_Doc">
    <input type="hidden" id="GS10150" value="/Purchasing_RFQ_Rel">
    <input type="hidden" id="GS10151" value="/Purchasing_RFQ_ScLayout">



    
    
   
  </section>

  <script>
    let arrow = document.querySelectorAll(".arrow");
   for (var i = 0; i < arrow.length; i++) {
     arrow[i].addEventListener("click", (e) => {
       let arrowParent = e.target.parentElement.parentElement;
       arrowParent.classList.toggle("showMenu");
     });
   }

   let sidebar = document.querySelector(".sidebar");
   let sidebarBtn = document.querySelector(".bx-menu");
   console.log(sidebarBtn);
   sidebarBtn.addEventListener("click", () => {
     sidebar.classList.toggle("close");
   });



   document.getElementById("searchButton").addEventListener("click", function() {
        // Get the search query
        var query = document.getElementById("searchInput").value.toLowerCase();

        // Check if the query matches any hidden input ID
        for (var i = 10001; i <= 20000; i++) {
          var GSID = document.getElementById("GS" + i).id.toLowerCase();

          
          if (GSID.includes(query)) {
            
            window.location.href = document.getElementById("GS" + i).value;
            return; 
          }
        }

        // If no match is found
        alert("No matching page found.");
      });
  //  dark theme
  function toggleTheme() {
    const themeLink = document.getElementById('theme-link');
    const moonIcon = document.querySelector('#side-panel button i');

    const currentTheme = themeLink.href.includes('light') ? 'light' : 'dark';

    // Toggle the theme
    themeLink.href = currentTheme === 'light' ? 'css/dark-theme.css' : 'css/light-theme.css';

    // Toggle the moon icon
    moonIcon.classList.toggle('fa-moon');
    moonIcon.classList.toggle('fa-sun');

    // Store the theme preference in localStorage
    localStorage.setItem('theme', currentTheme);




  }

 </script>

</body>
</html>
