<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="css/light-theme.css" id="theme-link">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Gn538+uBaj5IVxxLlHVe92+be5RVHe8W7epq6Ez1lGnpaK64jgFOzN5CkePpuL5R56RtiwzWd1eEc2tQLWUn4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


   
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus'></i> -->
      <span class="logo_name" style="margin: auto;">GEMBA</span>
    </div>
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search...">
      <button id="searchButton">Search</button>

      

    </div>
    <ul class="nav-links">

      <li>
        <a href="/home">
          <i class='bx bx-pie-chart-alt-2' ></i>

          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/home">Dashboard</a></li>
        </ul>
      </li>
     
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">DEFINE ENTERPRICE STRUCTURE</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#"> DEFINE ENTERPRICE STRUCTURE</a></li>
          <li><a href="/companyform">Company</a></li>
          <li><a href="/creditcontrolarea">Credit Control Area</a></li>
          <li><a href="/companycode">Company code</a></li>
          <li><a href="/business">Business Area</a></li>
          <li><a href="/functionalarea">Functional Area</a></li>
          <li><a href="/profitcenter">Profit Center</a></li>
          <li><a href="/plant">Plant</a></li>
          <li><a href="/division">Division</a></li>
          <li><a href="/salesorganization">Sales Organizations</a></li>
          <li><a href="/distribuation">Distribution Channel</a></li>
          <li><a href="/salesoffice">Sales Office</a></li>
          <li><a href="/salesgrp">Sales Group</a></li>
          <li><a href="/storageloc">Strage Location</a></li>
          <li><a href="/purrchaceorg">Purchasing Organization</a></li>
          <li><a href="/shippingpoint">Shipping Point</a></li>
          <li><a href="/loadintpy">Loading Point</a></li>
          
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">ASSIGN ENTERPRISE STRUCTURE</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">ASSIGN ENTERPRISE STRUCTURE</a></li>
          <li><a href="/assigncompanycode">ASSIGN CMPNY CODE<br> TO CMPNY</a></li>
          <li><a href="/assignToCreditControl">ASSIGN CMPNY CODE TO<br> CREDIT CONTROL AREA</a></li>
          <li><a href="/assignPlant">ASSIGN PLANT<br> TO CMPNY CODE</a></li>
          <li><a href="/assignSalesOrganisation">AASSIGN SALES ORG. <br> TO CMPNY CODE</a></li>
          <li><a href="/assigndistributionChannel">ASIGN DIST. CHANNEL <br> TO SALES ORG.</a></li>
          <li><a href="/assignSalesOrganisation">ASSIGN DIV <br> TO SALES ORG.</a></li>
          <li><a href="/setupSalesArea">SETUP SALES AREA</a></li>
          <li><a href="/assignSalesOffice">ASSIGN SALES OFFICE<br>TO SALES AREA</a></li>
          <li><a href="/assign-sales-dist-plant">AASSIGN SALES ORG. -<br>DIST. CHANNEL - PLANT</a></li>
          <li><a href="/assignSalesToCredit">ASSIGN SALES AREA <br>TO CREDIT CONTROL AREA</a></li>
          <li><a href="/assignPurchasingOrg">ASSIGN PURCH. ORG. <br>TO CMPNY CODE</a></li>
          <li><a href="/assignPlant">ASSIGN PURCH. ORG. <br>TO PLANT</a></li>
          <li><a href="/StandardpurchasingOrg">ASSIGN STANDARD PURCH. ORG <br>TO PLANT</a></li>
          <li><a href="/refrencePurchasingOrg">ASSIGN PURCH ORG. <br>TO REF. PURCH. ORG.</a></li>
          <li><a href="/ruleBySalesArea">DEFINE RULES BY SALES AREA</a></li>
          <li><a href="/AssignBusinessArea">ASSIGN BUSINESS AREA TO<br> PLANT AND DIV</a></li>
          <li><a href="/assignbusinessareaBySales"> ASSIGN BUSINESS AREA<br>BY SALES AREA</a></li>
          <li><a href="/AssignShippingPoint">ASSIGN SHIPPING POINT<br>TO PLANT</a></li>
        </ul>
      </li>

      
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">CUSTOMER</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">CUSTOMER</a></li>
          <li><a href="/accountgrp">Account Group</a></li>
          <li><a href="/numrange">Number Range</a></li>
          <li><a href="/Sales_District">Sales District</a></li>
          <li><a href="/Customer_Group">Customer Group</a></li>
          <li><a href="/Price_Group">Price Group</a></li>
          <li><a href="/Price_List">Price List</a></li>
          <li><a href="/Delivery_Priorities">Delivery Priority</a></li>
          <li><a href="/Shipping_Condition">Shipping Condition</a></li>
          <li><a href="/Account_assignmentGrp">Account Assignment Group</a></li>
          <li><a href="/Inco_Terms">Incoterms</a></li>



        </ul>
      </li>

     <!-- <li>
        <a href="/PartnerDetermination">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <s pan class="link_name">PARTNER DETERMINATION </s>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/PartnerDetermination">PARTNER DETERMINATION </a></li>
        </ul>
      </li> -->

      <li>
        <a href="/sales">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">SALES ORDER</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/sales">SALES ORDER</a></li>
        </ul>
      </li>


      <!-- <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li> -->
      <!-- <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">PRICING</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">PRICING</a></li>
          <li><a href="/ConditionTable">Condition Table</a></li>
          <li><a href="/accessSequence">Access Sequence </a></li>
          <li><a href="/ConditionTypes">Condition Types</a></li>
          <li><a href="/DefAssPricingprocedure">Define and assign <br> Pricing Procedure</a></li>
        </ul>
      </li> -->

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">PHYSICAL INVENTORY</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Physical Inventory</a></li>
          <li><a href="/Physical_Plant_Param">Plant Parameters</a></li>
          <li><a href="/Physical_Number_Assgn">Number Assignment </a></li>
          <li><a href="/Physical_MIGO">Setting For Goods Movements(MIGO) </a></li>
          <li><a href="/Physical_Postings">Goods Issue/Transfer Postings </a></li>
          <li><a href="/Physical_Receipt">Goods Receipt </a></li>
          <li><a href="/Physical_Movements">Automatic Movements </a></li>


          
         
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-history' ></i>
            <span class="link_name">VENDOR</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">VENDOR</a></li>
          <li><a href="/VendorAccountGroup">Account Group</a></li>
          <li><a href="/VendorDefineScreen">Define Screen Layout </a></li>
          <li><a href="/VendorDefineTransaction">Define Transaction <br>Dependent Screen Layout</a></li>
          <li><a href="/VendorDefineNumRange">Define Number Range</a></li>
        </ul>
      </li>


     
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">SALES & DISTRIBUATION</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">SD - SALES DISTRIBUATION</a></li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_BasicFunction">Basic Function</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_MasterData">Master Data</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_Sales">Sales</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/SD_Billing">Billing</a></li>
            </ul>
          </li>

         












          <li class="has-submenu">
            <a href="#"></a>
            <ul class="sub-menu">
              <li><a href="/PartnerDetermination">Partner Determination</a></li>
            </ul>
          </li>

         

         
         
        </ul>
      </li>

          <!--  -->

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">Purchasing</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Purchasing</a></li>
          <li class="has-submenu">
            <a href="#">Purchase Requisition</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_NumberRange">Define Number Range</a></li>
              <li><a href="/Purchasing_DocumentTypes">Define Document Types</a></li>
              <li><a href="/Purchasing_ScreenLayout">Define Screen Layout</a></li>
             
            </ul>
          </li>

          

          <li class="has-submenu">
            <a href="#">Purchase Requisition-<br> Relase Procedure</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Charateristics">Edit Charateristics</a></li>
              <li><a href="/Purchasing_Classes">Edit Classes</a></li>
              <li><a href="/Purchasing_Classification">Set Up Procedure <br>With Classification</a></li>



            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Purchase Order</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseOrder_NumberRange">Number Range</a></li>
              <li><a href="/PurchaseOrder_DocumentTypes">Define Document Types</a></li>
              <li><a href="/PurchaseOrder_ScreenLayout">Define Screen Layout</a></li>

            </ul>
          </li>
          
          <li class="has-submenu">
            <a href="#">Purchase Order-<br>Relase Procedure</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseOrder_Charateristics">Edit Charateristics</a></li>
              <li><a href="/PurchaseOrder_Classes">Edit Classes</a></li>
              <li><a href="/PurchaseOrder_Classification">Set Up Procedure <br>With Classification</a></li>

            </ul>
          </li>

          
          <li class="has-submenu">
            <a href="#">Purchasing Info Records</a>
            <ul class="sub-menu">
              <li><a href="/PurchaseInfo_NumberRange">Number Range</a></li>
              <li><a href="/PurchaseInfo_ScreenLayout">Define Screen Layout</a></li>

            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Source List</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Sourcelist">Define Source List <br>Requirement At Plant Level</a></li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">Quota Arrangment</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_Quota_NumRange">Number Range</a></li>
              <li><a href="/Purchasing_Quota_Define">Define Quota<br>Arrangment Usage</a></li>
            </ul>
          </li>
          
          <li class="has-submenu">
            <a href="#">RFQ/Quotation</a>
            <ul class="sub-menu">
              <li><a href="/Purchasing_RFQ_NumRange">Number Range</a></li>
              <li><a href="/Purchasing_RFQ_Doc">Define Document Types</a></li>
              <li><a href="/Purchasing_RFQ_Rel">Relase Procedure <br> For RFQ</a></li>
              <li><a href="/Purchasing_RFQ_ScLayout">Define Screen Layout</a></li>


            </ul>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Explore</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Explore</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
        <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
    <!-- <div class="profile-details">
      <div class="profile-content">
        <img src="image/profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div> -->
  </li>

 

</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>


      <div id="side-panel">
       <button class="theme" onclick="toggleTheme()">
  🌙
</button>
      </div>
    </div>

    

<!-- for search button with Screen Code -->
    <input type="hidden" id="GS11" value="/AccessFields">
    <input type="hidden" id="GS2" value="/companyform">
    <input type="hidden" id="GS3" value="/AccessTable">
    <input type="hidden" id="GS4" value="/path/to/page4">
    <input type="hidden" id="GS5" value="/path/to/page5">
    <input type="hidden" id="GS6" value="/path/to/page6">
    <input type="hidden" id="GS7" value="/path/to/page7">
    <input type="hidden" id="GS8" value="/path/to/page8">
    <input type="hidden" id="GS9" value="/path/to/page9">
    <input type="hidden" id="GS10" value="/path/to/page10">
    <input type="hidden" id="GS1" value="/path/to/page11">

   
  </section>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e) => {
      e.preventDefault(); 
      let arrowParent = e.target.parentElement.parentElement;
      arrowParent.classList.toggle("showMenu");
    });
  }

  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");

  sidebarBtn.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  });
});

document.getElementById("searchButton").addEventListener("click", function () {
  var query = document.getElementById("searchInput").value.toLowerCase();

  for (var i = 1; i <= 10000; i++) {
    var GSID = document.getElementById("GS" + i).id.toLowerCase();

    if (GSID.includes(query)) {
      window.location.href = document.getElementById("GS" + i).value;
      return;
    }
  }

  alert("No matching page found.");
});

// dark theme
function toggleTheme() {
  const themeLink = document.getElementById('theme-link');
  const moonIcon = document.querySelector('#side-panel button i');

  const currentTheme = themeLink.href.includes('light') ? 'light' : 'dark';

  themeLink.href = currentTheme === 'light' ? 'css/dark-theme.css' : 'css/light-theme.css';

  moonIcon.classList.toggle('fa-moon');
  moonIcon.classList.toggle('fa-sun');

  localStorage.setItem('theme', currentTheme);
}
 </script>

</body>
</html>
