<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
     <style>
       
   
       h1 {
           text-align: center;
           background-color: #333;
           color: white;
           padding: 20px 0;
           margin: 0;
       }
   
       .container {
           max-width:1200px;
           margin-left:276px ;
           padding: 20px;
           background-color: white;
           border-radius: 5px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       }
   
       table {
       
           width: 800px;
           border-collapse: collapse;
           margin-top: 20px;
           background-color: #fff;
           border-radius: 5px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       }
   
       th, td {
           padding: 12px;
           text-align: center;
           border-bottom: 1px solid #ddd;
       }
   
       th {
           background-color: #333;
           color: white;
       }
   
       td {
           cursor: pointer;
       }
   
       
       .form {
        width: 1000px;
    background-color: #c9ebf3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 5px; 
    
    align-items: center; 
}

label {
    font-weight: bold;
    margin-right: 20px; 
    width: 90px;
}

input {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    margin-top: 10px; 
    padding: 2px 2px;
    background-color: rgb(0,123,255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #58ece5;
}
 
   </style>
   </head>
<body>
  <%-include ('partials/sidepanel'); %>

    
    <div class="container1">
        <button class="btn" onclick="window.location.href='/MaintainPricingNewEntry'" >New Entry +</button>


  
    <div class="form first">
    
    
        <div class="details ID">
            <div class="fields">
                <div class="input-field" style="width: 500px;">
                    <label>Usage:</label>
                    <input  name="vid" type="text"  >
                </div>
                <div class="input-field" style="width: 500px;">
                    <label>Application :</label>
                    <input name="loc_code" type="text" placeholder="" >
                </div>
             
               

            </div>
        <table id="myTable">
    <thead>
        <tr>
            <th>Procedure</th>
            <th>Description</th>
            <th>Transaction-Specific Pricing Procedure</th>
            <th>Pricing Type</th>
        </tr>
    </thead>
    

    <tbody id="tableBody">
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
        <tr>
            <td></td>
            <td></td>
            
            <td><input type="checkbox" placeholder=""></td>
            <td>
                <select>
                    <option>                   </option>
                    <option>1 Customer Reserve 1</option>
                    <option>2 Customer Reserve 2</option>
                    <option>3 Customer Reserve 3</option>
                    <option>4 Customer Reserve 4</option>
                    <option>5 Customer Reserve 5</option>
                    <option>A Copy Price Components and Redetermine Scales</option>
                    <option>B carry Out New Pricing</option>
                    <option>c Copy Manual Pricing Elements and redetermine others</option>
                    <option>D Copy pricing Elements unchanged</option>
                    <option>E Adopt Price Components and Fix values</option>
                    <option>F Copy pricing elements,turn value and fix</option>
                    <option>G Copy Pricing elements unchanged and redetermine taxes</option>
                    <option>H Redetermine Freight Conditions</option>
                    <option>I Redetermine Rebate Conditions</option>
                    <option>J Redetermine Confirmed purch. net price / value(KNTYP=d)</option>
                    <option>K Adopt Price Components and cose. Redetermine taxes.</option>
                    <option>M Copy Pricing elements,turn value </option>
                    <option>N Transfer pricing Components unchanged,new cost</option>
                    <option>O Redetermine varient Conditions (KNTYP=O)</option>
                    <option>Q Redetermine Calculation conditions (KNTYP=Q)</option>  
                    <option>R Apply price parts and bonus conditions </option> 
                    <option>S ship & debit (IBU HiTec)</option>
                    <option>U Redetermine precious metal conditions</option>
                    <option>X customer reserve X</option>
                    <option>Y Customer reserve Y</option>
                    <option>Z Customer reserve Z</option>
            </select>
        </td>
                    
        </tr>
       
    </tbody>
    </table><br>


    <button onclick="window.location.href='/ControldataTable'">Control Data</button>
  </section>

 

</body>
</html>
