
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credit Control Area</title>
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/companyform.css" type="text/css">
   </head>
<body >
  <%-include ('partials/sidepanel'); %>

    <div class="container">
        <header> Credit Control Area   &nbsp;&nbsp;   <button type="submit">Submit</button>
        </header>
    
        <form action="/parkingformsent" method="POST">
            <div class="form first">
    
    
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label>Cred.contr.area</label>
                            <input  name="vid" type="text" style="margin-left: 50px; width: 50px;">&nbsp;&nbsp;<input  name="vid" type="text"  style="margin-right: 600px;">
                        </div>
                        <div class="input-field">
                            <label>Currency</label>
                            <input name="loc_code" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
                     
                        <div class="title">Data for updating SD </div>
    
                        <div class="input-field">
                            <label>Update</label>
                            <input name="city" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
    
                        <div class="input-field">
                            <label>FY Varient</label>
                            <input name="area" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
                        <div class="title">Default data for automatically creating new customers </div>
                        <div class="input-field">
                            <label>Risk category</label>
                            <input name="landmark" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
    
                        <div class="input-field">
                            <label>Credit limit</label>
                            <input name="pincode" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
                        <div class="input-field">
                            <label>Rep. group</label>
                            <input name="State" type="text" placeholder="" style="margin-right: 500px;">
                        </div>
                        <div class="title">Organizational data</div>

                        <div class="input-field">
                            <label>all co. codes</label>
                            <input name="longitude" type="checkbox" placeholder="" style="margin-right: 700px; height: 20px;">
                        </div>
    
                    </div>
                    
                </div> 
            </div>
        </form>
    </div>




</body>
</html>


