<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Document Pricing Procedure</h2>
    <button>Save</button>


    <div class="container1">

      <table>
        
        <tr>
           
            <th>Sales Organization</th>
            <th>Distribuation Channel</th>
            <th>Division</th>
            <th>Doc. Pricing Prodecure</th>
           <th>Cust. Pricing Procedure</th>
            <th>Pricing Procedure</th>
            <th>Description</th>
            <th>Condition Type</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
         
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
         
        </tr>




       
        
    </table>
    
        

        
    
    </div>
    </div>


    

</body>
</html>


