<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Access Field</h2>
    <form action="/parkingformsent" method="POST">
        <div class="form first" style="width: 500px;">


            <div class="details ID">
                <div class="fields">
                    <div class="input-field">
                        <label>Access Field</label>
                        <input  name="vid" type=""  >
                    </div>
   
                </div>
                
            </div> 
        </div>
    </form>

    <div class="container1">

      <table>
        <tr>
            <th>Condition</th>
            <th>I/O</th>
            <th>Document Structure</th>
            <th>Document Field</th>
            <th>Long Field Label</th>
            <th>Spec. Val. Source</th>
            <th>Initial value allowed</th>
            <th>Access Type</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
            <td></td>
            
        </tr>
        
    </table>
    
        

        
    
    </div>
    </div>


    

</body>
</html>


