
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

    
    <%-include ('partials/sidepanel'); %>

    <h2>Account Assignment Group</h2>
    <button onclick="window.location.href='/Inco_TermsNewEntry'"> + New Entries</button>


    <div class="container1">

      <table>
        
        <tr>
           
            <th>Incoterms</th>
            <th>Description</th>
            <th>Location Mandatory</th>
           
            
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox"></td>
        </tr>

    </table>
    
        

        
    
    </div>
    </div>


    

</body>
</html>


