<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 
    
  <%-include ('partials/sidepanel'); %>

    <div class="container">
         
            <button type="submit">Submit</button>
            <button onclick="window.location.href='/Logistics_BM_Condn_Process_CreateTable'">Table</button>
        </header>
    
        <form action="/parkingformsent" method="POST">
            <div class="form first" style="width: 500px;">
    
    
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label>Table</label>
                            <input  name="vid" type="text"  style="margin-right: 250px;">
                        </div>
                    </div>
                    
                </div> 

               
            </div>
        </form><br><br>
        <form action="/parkingformsent" method="POST">
            <div class="form first" style="width: 500px;">
    
                <h3>Copy From Condition</h3>
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            
                            <label>Table</label>
                            <input  name="vid" type="text"  style="margin-right: 250px;">
                        </div>
                    </div>
                    
                </div> 

               
            </div>
        </form>
    </div>

</body>
</html>
