<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 
    
    <%-include ('partials/sidepanel'); %>


    <button onclick="window.location.href='/Logistics_BM_Condn_Sales_Allowed_New'">New Entry +</button>
    <!-- new Entries -->
    <div class="container1" >
        <table>
            <tr>
                <th>Field</th>
                <th>Description</th>
        
            </tr>
            <tr>
                <td>AUART</td>
                <td>Order Type</td>
            </tr>

            <tr>
                <td>AUART_SD </td>
                <td>Sales Document Type </td>
            </tr>

            <tr>
                <td>BWTAR </td>
                <td>VAluation Type </td>
            </tr>

            <tr>
                <td>CITYC </td>
                <td>City Code </td>
            </tr>

            <tr>
                <td>COULC </td>
                <td>Country Code </td>
            </tr>

            <tr>
                <td>HIENR </td>
                <td> Customer</td>
            </tr>

            <tr>
                <td> HIENR01</td>
                <td>Customer Hierarchy 01 </td>
            </tr>

            <tr>
                <td> HIENR02</td>
                <td>Customer Hierarchy 02 </td>
            </tr>

            <tr>
                <td>KDGRP </td>
                <td>Customer Group </td>
            </tr>

            <tr>
                <td>KNDNR </td>
                <td> Customer</td>
            </tr>

            <tr>
                <td> KUNRE</td>
                <td>Built to Party </td>
            </tr>

            <tr>
                <td>QUNWE </td>
                <td> Ship-to Party</td>
            </tr>

            <tr>
                <td>LAND1 </td>
                <td>Destination Country </td>
            </tr>

            <tr>
                <td>MATKL </td>
                <td>Material group </td>
            </tr>

            <tr>
                <td>LAND1 </td>
                <td>Destination Country </td>
            </tr>
            <tr>
                <td>MATNR </td>
                <td>Material </td>
            </tr>
            <tr>
                <td>PRODH </td>
                <td>Product Hierarchy</td>
            </tr>
            <tr>
                <td>REGIO </td>
                <td>Region </td>
            </tr>
            <tr>
                <td>ROUTE </td>
                <td>Route </td>
            </tr>
            <tr>
                <td>SPART </td>
                <td>Division In HEader </td>
            </tr>
            <tr>
                <td>VKORG </td>
                <td>Sales Organisation </td>
            </tr>

            <tr>
                <td>VSBED </td>
                <td>Shipping Condition </td>
            </tr>
            <tr>
                <td>VTWEG </td>
                <td>Distribuation Channel </td>
            </tr>
            <tr>
                <td>WERKS </td>
                <td>Plant </td>
            </tr>
            
        </table>
    
        
        
    
    </div>
    </div>



</body>
</html>


