
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
   
    <link rel="stylesheet" href="../public/css/companyform.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
   </head>
<body >
    
    <%-include ('partials/sidepanel'); %>

    <h2>Partner Determination</h2>
    


    <div class="container1" style="overflow-y: scroll;">

      <table>
        <h3>Partner Determination Procedure</h3>
        <tr>
            <th>Part.Det.Proc</th>
            <th> Name</th>
        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>


        </tr>
   
       
        
    </table>
    
        

        
    
    </div>
    <button onclick="window.location.href='/PartFuncProcedure'"> Partner Function in Procedure</button>
    </div>


    

</body>
</html>


