<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Manual Account Assignment</h2>

    <!-- new Entries -->
    <div class="container1" >
      <table>
        <thead>
        <tr>
            <th>Movement Type</th>
            <th>Movement Type Text</th>
            <th>Account Control</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>305</td>
            <td>Transfer posting plant in storage </td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

        <tr>
            <td>306</td>
            <td>Transfer posting plant in storage - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>315</td>
            <td>Transfer Posting in str.in SLoc</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>316</td>
            <td>Transfer Posting in str.in SLoc - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>451</td>
            <td>Goods Issue Returns</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>452</td>
            <td>Goods Issue Returns - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>501</td>
            <td>Goods Receipt w/o PO</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>502</td>
            <td>Goods Receipt w/o PO - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>503</td>
            <td>Goods Issue Receipt to Quality</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>504</td>
            <td>Goods Issue Receipt to Quality - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>505</td>
            <td>Goods Issue Receipt To Blocked</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>506</td>
            <td>Goods Issue Receipt To Blocked</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>511</td>
            <td>Goods Issue Delivery w/o Charge</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>512</td>
            <td>Goods Issue Delivery w/o Charge - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>521</td>
            <td>Goods Issue Receipt w/o PrOrd</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>522</td>
            <td>Goods Issue Receipt w/o PrOrd - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>523</td>
            <td>Goods Issue Quality w/o PrOrd</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>524</td>
            <td>Goods Issue Quality w/o PrOrd - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>525</td>
            <td>Goods Issue Blocked w/o Prod.Or.</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>526</td>
            <td>Goods Issue Blocked w/o Prod.Or.- Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>531</td>
            <td>Goods Issue By-Product</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>532</td>
            <td>Goods Issue By-Product- Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>561</td>
            <td>Goods Issue Entry of st. bals</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>562</td>
            <td>Goods Issue Entry of st. bals - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>563</td>
            <td>Gods Issue EntrStBals: QI</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>564</td>
            <td>Gods Issue EntrStBals: QI - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>565</td>
            <td>Gods Issue EntrStBals: Blocked</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>566</td>
            <td>Gods Issue EntrStBals: Blocked - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>581</td>
            <td>Goods Issue by-Product Network </td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>582</td>
            <td>Goods Issue by-Product Network - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>711</td>
            <td>Goods Issue Inventory Diff.:Warehouse</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>712</td>
            <td>Goods Issue Inventory Diff.:Warehouse - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>713</td>
            <td>Goods Issue Inventory Diff.: Quality</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>714</td>
            <td>Goods Issue Inventory Diff.: Quality - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>715</td>
            <td>Goods Issue Inventory Diff.: Returns </td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>716</td>
            <td>Goods Issue Inventory Diff.: Returns - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>835</td>
            <td>Reval.Rec.w. tax</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>841</td>
            <td>Goods Receipt RTP</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>842</td>
            <td>Goods Receipt RTP - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>843</td>
            <td>Goods Receipt RTP w.tax</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>844</td>
            <td>Goods Receipt RTP w.tax - Reversal</td>
             <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

         
    </tbody>

    </table>
    
 </div>   
 </div>


    <!-- <button onclick="window.location.href='/AccessTable'">Access</button> -->

</body>
</html>


