
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
     
      .button5{
      background-color:rgb(255,228,196);
      color: black;
 
     }
     .button5:hover {
    background-color: whitesmoke;
}

     </style>
 
   </head>
<body style="margin-left:276px ;">
    
    <%-include ('partials/sidepanel'); %>

    <h2>Automatic Creation of SLoc. for Movement </h2>

    <!-- new Entries -->
    <div class="container1" style="overflow: scroll;">
      <table>
        <thead>
        <tr>
            <th>Movement Type</th>
            <th>Movement Type Text</th>
            <th>Special Stock Indicator</th>
            <th>Special Stock Desc.</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">340</button></td>
            <td>Transfer Posting Bch Revaluation</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting slsOr. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting cons. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting RTP Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting SC Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting Proj. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting RP.atC Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">341</button></td>
            <td>Transfer Posting con.atC. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting slsOr. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting cons. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting RTP Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting SC Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting Proj. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting RP.atC Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">342</button></td>
            <td>Transfer Posting con.atC. Unrestricted to Restricted</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">543</button></td>
            <td>Goods Issue Sales Order Stock</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">543</button></td>
            <td>Goods Issue to subc.stock</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">543</button></td>
            <td>Goods Issue prject Stock</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">544</button></td>
            <td>Goods issue Receipt Sales Order Stock</td>
            <td></td>
            <td></td>
        
          </tr>

         
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">544</button></td>
            <td>Goods issue Receipt Fm.subc.stock</td>
            <td></td>
            <td></td>
        
          </tr>

         
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">544</button></td>
            <td>Goods issue Receipt project Stock</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">545</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">545</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">545</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">546</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">546</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">546</button></td>
            <td>Goods Issue Receipt SC by-prod.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">601</button></td>
            <td>Goods Movement Delivery Sales Order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">601</button></td>
            <td>GD Goods Issue Delivery</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">601</button></td>
            <td>Goods Movement Delivery Project</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">602</button></td>
            <td>GD Goods Delivery rev.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">602</button></td>
            <td>GD Delivery Sales Order rev.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">602</button></td>
            <td>Goods Delivery rev. - Reversal</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">602</button></td>
            <td>GD Delivery project stock</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">603</button></td>
            <td>Transfer Posting rem.Fm. Store to plant</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">604</button></td>
            <td>Transfer Posting rem.Fm. Store to plant - Reversal</td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">621</button></td>
            <td>Goods Issue ret.pack:lending</td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">622</button></td>
            <td>Goods Issue ret.pack:ret.del.</td>
            <td></td>
            <td></td>
        
          </tr>

          

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">623</button></td>
            <td>Goods Issue:cust.ret.pack</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">624</button></td>
            <td>Goods Receipt:cust.ret.pack</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">631</button></td>
            <td>Goods Issue consgmt:lending</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">631</button></td>
            <td>TP sales order to consgmt</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">631</button></td>
            <td>TP project to consgmt</td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">632</button></td>
            <td>Goods Movement consgmt:ret. delivery</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">632</button></td>
            <td>TP consgmt to sales order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">632</button></td>
            <td>TP consgmt to project</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">633</button></td>
            <td>Goods issue customer consgmt</td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">634</button></td>
            <td>Goods receipt  customer consgmt</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">635</button></td>
            <td>Transfer Posting consgmt lending</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">636</button></td>
            <td>Consgmt ret.delivery - Reversal</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">641</button></td>
            <td>Transfer Posting to stock in Trans.</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">641</button></td>
            <td>Transfer Posting plant slOsr</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">641</button></td>
            <td>Transfer Posting to Consignment Stock</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">641</button></td>
            <td>Transfer Posting plant project</td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">642</button></td>
            <td>Transfer Posting to stock in Trans. - Reversal</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">642</button></td>
            <td>Transfer Posting plant slsOr. - Reversal</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">642</button></td>
            <td>Transfer Posting toconsignment stock - Reversal</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">642</button></td>
            <td>Transfer Posting plant project - Reversal</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">643</button></td>
            <td>Transfer Posting to cross company</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">644</button></td>
            <td>Transfer Posting to cross company - Reversal/td>
            <td></td>
            <td></td>
        
        </tr>
        
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">644</button></td>
              <td>TR CC to slsOrd.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">644</button></td>
              <td>TR to cross company</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">645</button></td>
              <td>TF cross company</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">645</button></td>
              <td>TF CC to slsOrd.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">645</button></td>
              <td>TF cross company</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">646</button></td>
              <td>TR cross company</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">646</button></td>
              <td>TR CC to slsOrd.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">646</button></td>
              <td>TR cross company</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">647</button></td>
              <td>TF to stck in trans.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">647</button></td>
              <td>TF plant plant slsOr</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">647</button></td>
              <td>TF to Consign. Stock</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">647</button></td>
              <td>TF plant plant proj.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">648</button></td>
              <td>TR to stck in trans.</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">648</button></td>
              <td>TR plant plant slsOr</td>
              <td></td>
            <td></td>
            </tr>
            <tr>
              <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">648</button></td>
              <td>TR to Consign. Stock</td>
              <td></td>
              <td></td>
            </tr>
            
            <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">648</button></td>
                <td>TR plant plant proj.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">651</button></td>
                <td>GD ret.del. returns</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">652</button></td>
                <td>GD ret.del. retn rev</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">653</button></td>
                <td>GD returns unrestr.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">653</button></td>
                <td>GD returns unrestr.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">653</button></td>
                <td>GD returns unrestr.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">654</button></td>
                <td>GD returns unr. rev.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">654</button></td>
                <td>GD returns unr. rev.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">654</button></td>
                <td>GD returns unr. rev.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">655</button></td>
                <td>GD returns QI</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">655</button></td>
                <td>GD returns QI</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">655</button></td>
                <td>GD returns QI</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">656</button></td>
                <td>GD returns QI rev.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">656</button></td>
                <td>GD returns QI rev.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">656</button></td>
                <td>GD returns QI rev.</td>
              <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">657</button></td>
                  <td>GD returns blocked</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">657</button></td>
                  <td>GD returns blocked</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">657</button></td>
                  <td>GD returns blocked</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">658</button></td>
                  <td>GD returns blk. rev.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">658</button></td>
                  <td>GD returns blk. rev.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">658</button></td>
                  <td>GD returns blk. rev.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">662</button></td>
                  <td>RE ret. to vdr revrs</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">662</button></td>
                  <td>GD ret vend saOrd re</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">671</button></td>
                  <td>TR to stck in trans.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">671</button></td>
                  <td>TR plant plant slsOr</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">671</button></td>
                  <td>TR to Consign. Stock</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">671</button></td>
                  <td>TR plant plant proj.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">672</button></td>
                  <td>TF to stck in trans.</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">672</button></td>
                  <td>TF plant plant slsOr</td>
                <td></td>
              <td></td>
            </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">672</button></td>
                  <td>TF to Consign. Stock</td>
                <td></td>
              <td></td>
            </tr>
            <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">672</button></td>
                <td>TF plant plant proj.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">673</button></td>
                <td>TR to cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">673</button></td>
                <td>TR to cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">674</button></td>
                <td>TF to cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">674</button></td>
                <td>TF to cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">675</button></td>
                <td>TR cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">675</button></td>
                <td>TR cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">676</button></td>
                <td>TF cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">676</button></td>
                <td>TF cross company</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">677</button></td>
                <td>TR to stck in trans.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">677</button></td>
                <td>TR plant plant slsOr</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">677</button></td>
                <td>TR to Consign. Stock</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">677</button></td>
                <td>TR plant plant proj.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">678</button></td>
                <td>TF to stck in trans.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">678</button></td>
                <td>TF plant plant slsOr</td>
              <td></td>
              <td></td>
            </tr>
            
            
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">678</button></td>
                <td>TF to Consign. Stock</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">678</button></td>
                <td>TF plant plant proj.</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A1</button></td>
                <td>TF GI1</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A1</button></td>
                <td>TF GI1 sales order</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A1</button></td>
                <td>TF GI1 project</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A2</button></td>
                <td>TR GI1</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A2</button></td>
                <td>TR GI1 sales order</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A2</button></td>
                <td>TR GI1 project</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A3</button></td>
                <td>TF CC GI1</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A3</button></td>
                <td>TF CC GI1 sls ordr</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A4</button></td>
                <td>TR CC GI1</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A4</button></td>
                <td>TR CC GI1 sls ordr</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A5</button></td>
                <td>TF CC GI1</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A5</button></td>
                <td>TF CC GI1 sls ordr</td>
              <td></td>
              <td></td>
            </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A6</button></td>
                <td>TR CC GI1</td>
              <td></td>
              <td></td>
              </tr>

              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A6</button></td>
                <td>TR CC GI1 sls ordr</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A7</button></td>
                <td>TF GI1</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A7</button></td>
                <td>TF GI1 sales order</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A7</button></td>
                <td>TF GI1 project</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A8</button></td>
                <td>TR GI1</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A8</button></td>
                <td>TR GI1 sales order</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6A8</button></td>
                <td>TR GI1 project</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B1</button></td>
                <td>TF GI2</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B1</button></td>
                <td>TF GI2 sales order</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B1</button></td>
                <td>TF GI2 project</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B2</button></td>
                <td>TR GI2</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B2</button></td>
                <td>TR GI2 sales order</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B2</button></td>
                <td>TR GI2 project</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B3</button></td>
                <td>TF CC GI2</td>
              <td></td>
              <td></td>
              </tr>
              <tr>
                <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B3</button></td>
                <td>TF CC GI2 sls ordr</td>
              <td></td>
              <td></td>
              </tr>

              
       
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B4</button></td>
                  <td>TR CC GI2</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B4</button></td>
                  <td>TR CC GI2 sls ordr</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B5</button></td>
                  <td>TF CC GI2</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B5</button></td>
                  <td>TF CC GI2 sls ordr</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B6</button></td>
                  <td>TR CC GI2</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B6</button></td>
                  <td>TR CC GI2 sls ordr</td>
                 <td></td>
              <td></td>
              </tr>
                <tr>
                    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B7</button></td>
                    <td>TF GI2 </td>
                   <td></td>
              <td></td>
              </tr>
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B7</button></td>
                  <td>TF GI2 sales order</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B7</button></td>
                  <td>TF GI2 project</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B8</button></td>
                    <td>TR GI2</td>
                   <td></td>
              <td></td>
              </tr>
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B8</button></td>
                  <td>TR GI2 sales order</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6B8</button></td>
                  <td>TR GI2 project</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6K5</button></td>
                  <td>TF GI2 consi</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6K6</button></td>
                  <td>TR GI2 consi</td>
                 <td></td>
              <td></td>
              </tr>
                
                
                <tr>
                  <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6W5</button></td>
                  <td>TF GI1 consi</td>
                 <td></td>
              <td></td>
              </tr>
              
                <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">6W6</button></td>
    <td>TR GI1 consi</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv.: whse</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv:sls.ord.</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv: consgmt</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv: RTP</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv:subcStck</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv: project</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phyInv:custRePack</td>
  <td></td>
              <td></td>
              </tr>

   <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">701</button></td>
    <td>GR phys.inv:custCons</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv.: whse</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv.:sls.ord</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv:consg.st</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv: whseRTP</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv:subcStck</td>
  <td></td>
              <td></td>
              </tr>

 
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv: project</td>
  <td></td>
              <td></td>
              </tr>
              


                 <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phyInv:custRePack</td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">702</button></td>
    <td>GI phys.inv:custCons</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phys.inv: QI</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phys.inv:QI slsOr</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phys.inv:QI cons.</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phys.inv: QI RTP</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR physInv:QI subcSt</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phys.inv: QI proj</td>
  <td></td>
              <td></td>
              </tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phyInv:QI cuRePck</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">703</button></td>
    <td>GR phyInv:QI cuConsg</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phys.inv: QI</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phys.inv:QI slsOr</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phys.inv:QI consg</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phys.inv: QI RTP</td>
  <td></td>
              <td></td>
              </tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI physInv:QI subcSt</td>
  <td></td>
 <td></td>
</tr>

<tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phys.inv: QI proj</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phyInv:QI cuRePck</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">704</button></td>
    <td>GI phyInv:QI cuConsg</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">707</button></td>
    <td>GR phys.inv.:blocked</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">707</button></td>
    <td>GR phyInv:blkd slsOr</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">707</button></td>
    <td>GR phyInv:blkd cons.</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">707</button></td>
    <td>GR phys.inv: blk.RTP</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">707</button></td>
    <td>GR phys.inv: bl.proj</td>
  <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">708</button></td>
    <td>GI phys.inv.:blocked</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">708</button></td>
    <td>GI phyInv:blkd slsOr</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">708</button></td>
    <td>GI phyInv:blkd cons.</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">708</button></td>
    <td>GI phys.inv: RTP</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">708</button></td>
    <td>GI InvDiff: project</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">717</button></td>
    <td>GI InvDiff.: blocked</td>
  <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">717</button></td>
    <td>GI InvDiff:blk/slsOr</td>
  <td></td>
 <td></td>
</tr>

<tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">717</button></td>
    <td>GI InvDiff:blk/cons.</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">717</button></td>
    <td>GI InvDiff: blkd/RTP</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">717</button></td>
    <td>GI InvDiff:blk/proj.</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">718</button></td>
    <td>GR InvDiff.: blocked</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">718</button></td>
    <td>GR InvDiff:blk/slsOr</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">718</button></td>
    <td>GR InvDiff:blk/cons.</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">718</button></td>
    <td>GR InvDiff: blkd/RTP</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">718</button></td>
    <td>GR InvDiff:blk/proj.</td>
    <td></td>
 <td></td>
</tr>

    <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">721</button></td>
    <td>SlsVal.rec.n.afftMgs</td>
    <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">722</button></td>
    <td>SlsVal.iss.n.afftMgs</td>
    <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">731</button></td>
    <td>SlsVal.rec. afftgMgs</td>
    <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">732</button></td>
    <td>SlsVal.iss. afftgMgs</td>
    <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">862</button></td>
    <td>GI TF SD/MM</td>
    <td></td>
 <td></td>
</tr>

  
  <tr>
    <td><button onclick="window.location.href='/Physical_Movements_ScLayout_Overview'" class="button5">864</button></td>
    <td>GR TF SD/MM return</td>
    <td></td>
 <td></td>
</tr>
              

    </tbody>

    </table>
    
 </div>   
 </div>


   

</body>
</html>


