<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <style>


.divvv{
    
    margin-top:60px ;
    background-color: rgb(17,16,29);
     width: 800px;
     height: 420px;
     box-shadow: 20 10 30 rgb(15, 15, 15);
     align-items: center;
     justify-content: center;
     padding: 40px;
     padding-left: 80px;
}
h1,h3{
    color: white;
    margin-bottom:10px ;
}
       
     </style>
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

   
    <h2>Maintain Field Status Group:Foreign Payments (FI only)</h2>
        <div class="input-field">
            <table>
                <thead>
                    <th></th>
                    <th>Suppress</th>
                    <th>Required Entry</th>
                    <th>Optional Entry</th>
                </thead>
                <tbody>
                    <tr>
                        <td>SCB / Supplying cntry (FI only)</td>
                        <td><input type="radio" name="row1" id="" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row1" id="" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row1" id="" onclick="toggleRadio(this)"></td>
                    </tr>

                    <tr>
                        <td>Customs Data (FI only)</td>
                        <td><input type="radio" name="row2" id="" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row2" id="" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row2" id="" onclick="toggleRadio(this)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body> 
<script>
    function toggleRadio(element) {
        // Uncheck other radio buttons in the same row
        var rowRadios = document.querySelectorAll('input[name="' + element.name + '"]');
        rowRadios.forEach(function(radio) {
            if (radio !== element) {
                radio.checked = false;
            }
        });
    }
</script>         
</html>


