<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Storage Location</h2>
    <form action="/parkingformsent" method="POST">
        <div class="form first">
    <div class="details ID">
        <div class="fields">
            <div class="input-field">
                
                <label>Plant</label>
                <input  name="Plant" type="text"  style="margin-left: -150px;">
                <input  name="Plant" type="text"  style="margin-left: 10px;">
            </div>
        </div>
    </div>
        </div>
    </form>

    <!-- new Entries -->
    <div class="container1" >
      <table>
        <tr>
            <th>SLoc.</th>
            <th>Description</th>
            <th>Negative Stocks</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
                
    </table>
    
        

        
    
    </div>
    </div>


    <!-- <button onclick="window.location.href='/AccessTable'">Access</button> -->

</body>
</html>


