
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="margin-left:276px ;">
    
    <%-include ('partials/sidepanel'); %>

    <h2>Autom. Creation of SLoc. for Mvt</h2>

    <!-- new Entries -->
    <div class="container1" style="overflow: scroll;">
      <table>
        <thead>
        <tr>
            <th>Movement Type</th>
            <th>Movement Type Text</th>
            <th>Account Control</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>121</td>
            <td>GR subseq. adjustm.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

        <tr>
            <td>131</td>
            <td>Goods receipt</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>132</td>
            <td>Goods receipt</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>
          <tr>
            <td>340</td>
            <td>TF bch revaluation</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>341</td>
            <td>TF unrestr.to restr.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>342</td>
            <td>TF unr. to rstricted</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>543</td>
            <td>GI issue sls.ord.st.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>544</td>
            <td>GI receipt sls.or.st.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>545</td>
            <td>GI rcpt SC by-prod.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>546</td>
            <td>GI issue SC by-prod.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>601</td>
            <td>GD goods issue:delvy</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>602</td>
            <td>RE goods deliv. rev.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>603</td>
            <td>TF rem.fm.stor.to pl</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>604</td>
            <td>TR rem.fm.stor.to pl</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>621</td>
            <td>GI ret.pack.:lending</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>622</td>
            <td>GI ret.pack:ret.del.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>623</td>
            <td>GI iss:cust.ret.pack</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>624</td>
            <td>GI rcpt:cust.re.pack</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>631</td>
            <td>GI consgmt:lending</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>632</td>
            <td>GI consgmt:ret.delvy</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>633</td>
            <td>GI iss:cust.consgmt</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>634</td>
            <td>GI rcpt:cust.consgmt</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>635</td>
            <td>TF consgmt lending</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>636</td>
            <td>TR consgmt ret. del.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>641</td>
            <td>TF to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>642</td>
            <td>TR to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>643</td>
            <td>TF to cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>644</td>
            <td>TR to cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>645</td>
            <td>TF cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>646</td>
            <td>TR cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>647</td>
            <td>TF to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
          </tr>

          <tr>
            <td>648</td>
            <td>TR to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>651</td>
            <td>GD ret.del. returns</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>652</td>
            <td>GD ret.del. retn rev</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>653</td>
            <td>GD returns unrestr.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>654</td>
            <td>GD returns unr. rev.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>655</td>
            <td>GD returns QI</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>656</td>
            <td>GD returns QI rev.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>657</td>
            <td>GD returns blocked</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>658</td>
            <td>GD returns blk. rev.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>662</td>
            <td>RE ret. to vdr revrs</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>671</td>
            <td>TR to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>672</td>
            <td>TF to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>673</td>
            <td>TF to cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>674</td>
            <td>TR to cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>675</td>
            <td>TR cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>676</td>
            <td>TF cross company</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>677</td>
            <td>TR to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>678</td>
            <td>TF to stck in trans.</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>6A1</td>
            <td>TF GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A2</td>
            <td>TR GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A3</td>
            <td>TF CC GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A4</td>
            <td>TR CC GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A5</td>
            <td>TF CC GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A6</td>
            <td>TR CC GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A7</td>
            <td>TF GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6A8</td>
            <td>TR GI1</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B1</td>
            <td>TF GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B2</td>
            <td>TR GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B3</td>
            <td>TF CC GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B4</td>
            <td>TR CC GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B5</td>
            <td>TF CC GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B6</td>
            <td>TR CC GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B7</td>
            <td>TF GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6B8</td>
            <td>TR GI2</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6K5</td>
            <td>TF GI2 consi</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6K6</td>
            <td>TR GI2 consi</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6W5</td>
            <td>TF GI1 consi</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>6W6</td>
            <td>TR GI1 consi</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>701</td>
            <td>GR phys.inv.: whse</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>702</td>
            <td>GI phys.inv.: whse</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>703</td>
            <td>GR phys.inv.: QI</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>704</td>
            <td>GI phys.inv.: QI</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>707</td>
            <td>GR phys.inv.:blocked</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>708</td>
            <td>GI phys.inv.:blocked</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
          <tr>
            <td>717</td>
            <td>GI InvDiff.: blocked</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>

          <tr>
            <td>718</td>
            <td>GR InvDiff.: blocked</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>721</td>
            <td>SlsVal.rec.n.afftMgs</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>722</td>
            <td>SlsVal.iss.n.afftMgs</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>731</td>
            <td>SlsVal.rec. afftgMgs</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>732</td>
            <td>SlsVal.iss. afftgMgs</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>862</td>
            <td>GI TF SD/MM</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
        <tr>
            <td>864</td>
            <td>GR TF SD/MM return</td>
            <td><select name="" id="">
                <option value="Entry in this field is otional">Entry in this field is otional</option>
                <option value="Field is Supressed"> - Field is Supressed</option>
                <option value="Entry in this Field is required">+ Entry in this Field is required</option>
                <option value="Entry in this field is optional">. Entry in this field is optional</option>
            </select></td>
        </tr>
     </tbody>

    </table>
    
 </div>   
 </div>


    <!-- <button onclick="window.location.href='/AccessTable'">Access</button> -->

</body>
</html>


