<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <%-include ('partials/sidepanel'); %>

    <div class="container">
        <header> Sales Organization   &nbsp;&nbsp;   <button type="submit">Submit</button>
        </header>
    
        <form action="/parkingformsent" method="POST">
            <div class="form first">
    
    
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label>Sales Organization</label>
                            <input  name="vid" type="text"  style="margin-right: 620px;">
                        </div>
                       
                        <div class="title">Detailed Information </div>
    
                        <div class="input-field">
                            <label>Statistics currency</label>
                            <input name="city" type="text" placeholder="" style="margin-right: 620px;">
                        </div>
    
                        <div class="input-field">
                            <label>Address text name</label>
                            <input name="area" type="text" placeholder="" style="margin-right: 60px;"> 

                            <label>RefSorg.Sales<br>DocType</label>
                            <input name="area" type="text" placeholder="" style="margin-left: 50px;" >
                        </div>
    
                        <div class="input-field">
                            <label>letter header text</label>
                            <input name="landmark" type="text" placeholder="" style="margin-right: 60px;">

                            <label>Cust.inter-co.bill</label>
                            <input name="area" type="text" placeholder="" style="margin-left: 50px;" >
                        </div>
    
                        <div class="input-field">
                            <label>footer lines text</label>
                            <input name="pincode" type="number" placeholder="" style="margin-right: 60px;">

                            <label>Sales org.calender</label>
                            <input name="area" type="text" placeholder="" style="margin-left: 50px;">
                        </div>
                        <div class="input-field">
                            <label>Greeting text name</label>
                            <input name="State" type="text" placeholder="" style="margin-right: 620px;">
                        </div>
    
                        <div class="input-field">
                            <label>Text SDS sender</label>
                            <input name="latitude" type="text" placeholder="" style="margin-right: 100px;">
                            <label>Rebate proc.active</label>
                            <input name="area" type="checkbox" class="c" placeholder="" style="margin-right: 40px;width: 10px;" >
                        </div>
    
                        
    
                    </div>
                    
                </div> 
            </div>
        </form>
    </div>
  </section>


</body>
</html>


