<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>


        <div >
        <h1>Assign Item Category Details</h1>
        
            <form action="/parkingformsent" method="POST">
                <div class="form first">
        
        
                    <div class="details ID">
                        <div class="fields">
                           
                            <div >
                                <label style="margin-right: 90px;">Sales Doc. Type</label>
                                <input name="company" type="text" style="margin-right: 100px; width: 150px; height: 35px;margin-bottom: 5px; ">

                            </div>
                            <div >
                                <label style="margin-right: 90px;">Item Cat. Group</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px; margin-bottom: 5px;">
                            </div>
                            <div >
                                <label style="margin-right: 122px;">Item Usage</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px;margin-bottom: 5px; ">
                            </div>
                            <div >
                                <label style="margin-right: 20px;">Item Category HgLv Item</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px; margin-bottom: 5px;">
                            </div>
                            <div >
                                <label style="margin-right: 100px;">Item Category</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px;margin-bottom: 5px; ">
                            </div>
                            <div >
                                <label style="margin-right: 70px;">Manaual Item Cat.</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px;margin-bottom: 5px; ">
                            </div>
                            <div >
                                <label style="margin-right: 70px;">Manaual Item Cat.</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px; margin-bottom: 5px;">
                            </div>
                            <div >
                                <label style="margin-right: 70px;">Manaual Item Cat.</label>
                                <input  name="company" type="text"  style="margin-right: 100px; width: 150px; height: 35px; margin-bottom: 5px; ">
                            </div>
                            
                           <br>
                            <button type="submit" style="margin-left:80px ;">SUBMIT</button>
                        </div>
                    </div>
        
                    
                        
                        
                    </div> 
                </div>
            

            
        </form>


</body>
</html>


