<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>


        <div >
        <h1>Item Categories Details</h1>
        
            <form action="/parkingformsent" method="POST">
                <div class="form first">
        
        
                    <div class="details ID">
                        <div class="fields">
                            <div class="input-field">
                                <label>Item Category</label>
                                <input  name="company" type="text"  >&nbsp;<input  name="company" type="text"  style="margin-right: 700px;width: 200px;" >
                            </div>


                            <div class="title">Business Data </div>
                            <div class="input-field">
                                <label>Item Type</label>
                                <input  name="company" type="text"  style="margin-right: 200px;">
                                <label>Business Item</label>
                                <input  name="company" type="checkbox"  style="margin-right: 200px; height: 20px;"> 
                            </div>
                            <div class="input-field">
                                <label>Completion Rule</label>
                                <input  name="company" type="text"  style="margin-right: 200px;">
                                <label>Schedule Line Allowed</label>
                                <input  name="company" type="checkbox" style="margin-right: 200px; height: 20px;" > 
                            </div>
                            <div class="input-field">
                                <label>Billing Relevance</label>
                                <input  name="company" type="text" style="margin-right: 200px;">
                                <label>Item Relevance for Delivery</label>
                                <input  name="company" type="checkbox" style="margin-right: 200px; height: 20px;" > 
                            </div>
                            <div class="input-field">
                                <label>Billing Plan Type</label>
                                <input  name="company" type="text"  style="margin-right: 200px;">
                                <label>Returns</label>
                                <input  name="company" type="checkbox"  style="margin-right: 200px; height: 20px;"> 
                            </div>
                            <div class="input-field">
                                <label>Billing Block</label>
                                <input  name="company" type="text"  style="margin-right: 200px; ">
                                <label>Wght/Vol.<br>Relevant</label>
                                <input  name="company" type="checkbox"  style="margin-right: 200px; height: 20px;"> 
                            </div>
                            <div class="input-field">
                                <label>Pricing</label>
                                <input  name="company" type="text"  style="margin-right: 200px;">
                                <label>Credit Active</label>
                                <input  name="company" type="checkbox"  style="margin-right: 200px; height: 20px;"> 
                            </div>

                            <div class="input-field">
                                <label>Determine Cost</label>
                                <input  name="company" type="checkbox"  style="margin-right: 870px; height: 20px;">
                            </div>
                           
                         
                            <div class="title">General Control </div>
        
                            <div class="input-field">
                                <label>Automatic Batch determ.</label>
                                <input name="Street" type="checkbox" placeholder="" style="margin-right: 770px; height: 20px;">

                             
                            </div>
                            <div class="input-field">
                               

                                <label>Order Qty=1</label>
                                <input name="Cname" type="checkbox" placeholder="" style="margin-right: 770px; height: 20px;"">
                            </div>

                           
        
                            <div class="title">Transaction Flow </div>
        
                            <div class="input-field">
                                <label>Partner Determ. Procedure</label>
                                <input name="Street" type="text" placeholder="" style="margin-right: 200px;">

                                <label>Create PO Automatic</label>
                                <input name="Cname" type="checkbox" placeholder="" style="margin-right: 200px; height: 20px;">
                            </div>

                            <div class="input-field">
                                <label>Tax Determ. Procedure</label>
                                <input name="Cname" type="text" placeholder="" style="margin-right: 710px;">

                                
                            </div>

             
                           
                            <div class="title">Value Contract </div>
                            <div class="input-field">
                                <label>Value Contract Matl</label>
                                <input name="Cname" type="text" placeholder="" style="margin-right: 200px; ">

                                <label>Contract Release Ctrl</label>
                                <input name="Cname" type="text" placeholder="" style="margin-right: 200px; ">
                            </div>


                            <div class="title">Service Managment </div>
                            <div class="input-field">
                                <label>Repair Procedure</label>
                                <input name="Cname" type="text" placeholder="" style="margin-right: 710px; ">
                            </div><br>
                            <button type="submit" style="margin-left:80px ;">SUBMIT</button>
                        </div>
                    </div>
        
                    
                        
                        
                    </div> 
                </div>
            

            
        </form>


</body>
</html>


