
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <style>
        .maindiv{
            display: flex;
        }

body {
          font-family: Arial, sans-serif;
          padding: 20px;
        }
    
        label {
          display: block;
          font-size: larger;
          margin-bottom: 8px;
          color: cadetblue;
        }
    
        select {
            background-color: beige;
          padding: 5px;
          width: 200px;
          margin-bottom: 20px;
        }
.div1 , .div2{
    
    margin-top:60px ;
    background-color: rgb(17,16,29);
     width: 800px;
     height: 420px;
     box-shadow: 20 10 30 rgb(15, 15, 15);
     align-items: center;
     justify-content: center;
     padding: 40px;
     padding-left: 80px;
}
h1,h3{
    color: white;
    margin-bottom:10px ;
}
       
     </style>
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>
    <h1 style="color: black; margin: 0%; text-align: center;">Billing</h1>
<div class="maindiv">

    
    <div class="div1">
        
    
        <label for="dropdown1">Billing Documents</label>
      <select id="dropdown1" onchange="redirectPage(this)">
        <option value="">Choose Option</option>
        <option value="/SD_BillingDoc_Types">Define Billing Types</option>
        <option value="/SD_BillingDoc_NumRange">Define Number Range </option>

      </select>
    
      <label for="dropdown2">Rebate Processing</label>
      <select id="dropdown2" onchange="redirectPage(this)">
        <option value="">Choose Option</option>
        <option value="Free_Goods_NumRange">Number Range</option>
        <option value="/Free_Goods_Condition">Maintain Condition Table</option>
        <option value="/Free_Goods_accessSequenc">Maintain Access Sequence</option>
        <option value="/Free_Goods_Types">Define Condition Types</option>
        <option value="">Maintain Pricing Procedure</option>
        <option value="">Activate Rebate Processing</option>

      </select>

      <label for="dropdown2">Rebate Agreement</label>
      <select id="dropdown2" onchange="redirectPage(this)">
        <option value="">Choose Option</option>
        <option value="">Define Agreement Types</option>
        <option value="">Define Condition Type Groups</option>
        <option value="">Assign Condition Types to Condition Type Groups</option>
        <option value="">Assign Condition Type Groups to Rebate Agreement Types</option>

      </select>

      <label for="dropdown2">Account Determination for Rebates</label>
      <select id="dropdown2" onchange="redirectPage(this)">
        <option value="">Choose Option</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>

      </select>
      
    
     
        

    </div>
    
 
</div>

<script>
    function redirectPage(selectElement) {
      var selectedOption = selectElement.options[selectElement.selectedIndex].value;
      window.location.href = selectedOption;
    }
  </script>
</body>
</html>


