<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
 
    <title>Document</title>


    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body >
  <%-include ('partials/sidepanel'); %>

    <div class="container">
        <header> Define Billing Types  &nbsp;&nbsp;   <button type="submit">Submit</button>
        </header>
    
        <form action="/parkingformsent" method="POST">
            <div class="form first">
    
    
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            
                            <label>CCA</label>
                            <input  name="CCA" type="text"  style="margin:0px 50px 0px -50px;">

                            <label>RKC</label>
                            <input  name="RKC" type="text"  style="margin: 0px 50px 0px -50px;">

                            <label>CG</label>
                            <input name="CG" type="text" placeholder="" style="margin: 0px 30px 0px -40px;">
                        </div>

                        <div class="title">Number Systems </div>
                        <div class="input-field">

                            <label>Credit Control</label>
                            <input name="Credit" type="Text" placeholder="" style="margin: 0px 60px 0px -10px;">
                            
                            <label>Currency</label>
                                <select name="Currency" id="" style="margin: 0px 60px 0px -55px;">
                                    <option value="">Select Currency</option>
                                </select>
                            
                            <label>Update</label>
                            <input name="Update" type="text" placeholder="" style="margin: 0px 20px 0px -50px;">
                        </div>

                        <div class="title">Document Controlling</div>

                        <div class="input-field">
                        
                            <label>No Credit check</label>
                            <input name="Credit" type="text" placeholder="" style="margin: 0px 330px 0px -20px;">
                          
                            <label>Item check</label>
                            <input name="item" type="checkbox" placeholder="" style="margin: 0px 10px 0px -200px;">
                        </div>

                        <div class="title">Released documents are still unchecked</div>
                        <div class="input-field">
                            <label>Deviation in %</label>
                            <input name="Deviation" type="text" placeholder="" style="margin: 0px 35px 0px -50px;">
                            
                            <label>Number of days</label>
                            <input name="Number" type="text" placeholder="" style="margin: 0px -10px 0px -60px;">
                        </div>

                        <div class="title">Credit Limit seasonal factor</div>
                        <div class="input-field">
                            
                            <label>%</label>
                            <input name="%" type="text" placeholder="" style="margin: 0px 330px 0px -20px;">
                            
                            <label>Minus</label>
                            <input name="Minus" type="checkbox" placeholder="" style="margin: 0px 10px 0px -200px;">
                        </div>
                            
                        <div class="input-field">
                            <label>From</label>
                            <input name="From" type="date" placeholder="" style="margin-left: -30px;">
                            
                            <label style="margin-left: 80px;">To</label>
                            <input name="To" type="date" placeholder="" style="margin: 0px 30px 0px 50px;">
                            
                        </div>

                        <div class="title">Checks in financial accounting/old A?R summary</div>
                        <div class="input-field">
                            <label>Payers</label>
                            <input name="Payers" type="checkbox" placeholder="" style="margin: 5px 0px 5px 50px;">

                            <label>Permitted Days</label>
                            <input name="Permitted" type="text" placeholder="" style="margin-right: 300px;">

                            <label>Permitted hours</label>
                            <input name="hours" type="text" placeholder="" style="margin-right: 80px;">
                        </div>

                        <div class="title">Checks</div>

                        <div class="input-field">
                           
                            <label>Reaction</label>

                            <label>Status/Block</label>
                        </div>
                        
    
                        <div class="input-field">
                            <label>Static</label>
                            <input name="Static" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="Static" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="Static" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>Dynamic</label>
                            <input name="Dynamic" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="Dynamic" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="Dynamic" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>Document value</label>
                            <input name="Document value" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="Document value" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="Document value" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>Critical fields</label>
                            <input name="Critical fields" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="Critical fields" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="Critical fields" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>NextReview date</label>
                            <input name="NextReview date" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="NextReview date" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="NextReview date" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>Open items</label>
                            <input name="Open items" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="Open items" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="Open items" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>Oldest Open Item</label>
                            <input name="OldestOpenItem" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="OldestOpenItem" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="OldestOpenItem" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>High.dunn.level</label>
                            <input name="High.dunn.level" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="High.dunn.level" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="High.dunn.level" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>User 1</label>
                            <input name="User1" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="User1" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="User1" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>User 2</label>
                            <input name="User2" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="User2" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="User2" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                            <label>User 3</label>
                            <input name="User3" type="checkbox" placeholder="" style="margin:0px 100px 0x 400px;">
                            
                            <input name="User3" type="text" placeholder="" style="margin-right: 300px;">

                            <input name="User3" type="checkbox" placeholder="" style="margin: 0px 30px 0px 100px;">
                        </div>

                        <div class="input-field">
                        
                            <label>Open orders</label>
                            <input name="open" type="checkbox" placeholder="" style="margin-left: 80px;">
                            
                            <label>Open deliveries</label>
                            <input name="deliveries" type="checkbox" placeholder="" style="margin-right: 300px;">

                            <label>High.dunn.level</label>
                            <input name="High" type="checkbox" placeholder="" style="margin-left: 70px;">
                        </div>

                        <div class="input-field">
                        
                            <label>Horizon</label>
                            <input name="Horizon" type="text" placeholder="" style="margin-left: 80px;">
                            <input name="Horizon" type="text" placeholder="" style="margin-right: 300px;">

                            <label>Max.doc.value</label>
                            <input name="value" type="text" placeholder="" style="margin-left: 70px;">
                        </div>

                        <div class="input-field">
                            <label>Number of days</label>
                            <input name="days" type="text" placeholder="" style="margin-right: 200px;">

                            <label>Max.open.item %</label>
                            <input name="open" type="text" placeholder="" style="margin: 0px 40px;">

                            <label>NoDays openI</label>
                            <input name="pay" type="text" placeholder="" style="margin-left: 40px;">       
                        </div>

                        <div class="input-field">
                        
                            <label>Days oldestItem</label>
                            <input name="Days" type="text" placeholder="" style="margin-left: 100px;">
                        </div>
                 
                    </div>
                    
                </div> 
            </div>
        </form>
    </div>

</body>
</html>