
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Route Detrmination Without Weight Group (Order)</h2>

    <div class="container1" >
        <div class="input-field">
            <label>Departure Country/Zone</label>
            <input  name="vid" type="text"  style="margin-left: 50px;max-width: 50px;">
            <input  name="vid" type="text" style="margin-right: 500px; max-width: 150px;" >
        </div>
        <div class="input-field">
            <label>Destination Country/Zone</label>
            <input name="loc_code" type="text" placeholder="" style="margin-left: 50px;max-width: 50px;">
            <input  name="vid" type="text"  style="margin-right: 500px; max-width: 150px;">
        </div>
      <table>
        <tr>
            <th>Shipping Condition</th>
            <th>Description</th>
            <th>Transportation Group</th>
            <th>Description</th>
            <th>Proposed Route</th>
            <th>Description</th>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
        </tr>

     

    </table>
    
  
    
    
    </div>
    </div>



</body>
</html>


