
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="margin-left:276px ;">
    
    <%-include ('partials/sidepanel'); %>

    <h2>Access Sequences</h2>

    <button onclick="window.location.href='/SD_Text_TextType_SalesAct_Change1_Access_New'">New Entry +</button>
    <button onclick="window.location.href='/SD_Text_TextType_SalesAct_Change1_Assgn'">Text Procedure Assignment</button>

    <!-- new Entries -->
    <div class="container1" >
      <table>
        <tr>
            <th>Access Sequence</th>
            <th>Description</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    
        

        
    
    </div>
    </div>


    <button onclick="window.location.href='/SD_Text_TextType_SalesAct_Change1_AccessID'">Access sequence for Text ID</button>

</body>
</html>


