<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

   
    <h2>Maintain Field Status Group</h2>
    
<div>
    <h2>Select Group</h2>
    <div><button class="btn" onclick="window.location.href='/VendorSubRange_PartnerUsage'" style="width: 200px; margin-left: 90px;">Partner Usage</button></div>
    <div><button class="btn" onclick="window.location.href='/VendorSubRange_Add-PurchData'" style="width: 200px; margin-left: 90px;">Subrange Purchasing Data</button></div>
</div>


</body>
</html>


