<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Movement Type Control in WM: View Batch Control</h2>

    
    <div class="container1">
      <table>
        <tr>
            <th>Warehouse Number</th>
            <th>Movement Type</th>
            <th>Description</th>
            <th>Search Procedure</th>
            <th>Status Restricted Allowed</th>
                 
        </tr>
        <tr>
            <td></td>
            <td></td>    
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>
        

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="" id=""></td>   
        </tr>

    </table>
    
        

        
    
    </div>
    </div>



</body>
</html>


