<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    
   </head>
<body >
    
    <%-include ('partials/sidepanel'); %>
    <button onclick="window.location.href='/Logistics_BM_AccessTable_NewEntry'">New Entry +</button>
    <h2>Access Table</h2>
    <form action="/parkingformsent" method="POST">
        <div class="form first">


            <div class="details ID">
                <div class="fields">
                    <div class="input-field">
                        <label>Access Sequence</label>
                        <input  name="vid" type=""  >
                    </div>
   
                </div>
                
            </div> 
        </div>
    </form>

    <div class="container1" style="height: 400px;">

      <table>
        <tr>
            <th>Access Number</th>
            <th>Table Number</th>
            <th>Description</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    
        

        
    
    </div>
    </div>

    <button onclick="window.location.href='/Logistics_BM_AccessFields'">Access Field</button>
    

</body>
</html>


