<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
     <style>
      body {
         font-family: Arial, sans-serif;
         background-color: #f4f4f4;
         margin: 0;
         padding: 0;
     }
 
     h1 {
         text-align: center;
         background-color: #333;
         color: white;
         padding: 20px 0;
         margin: 0;
     }
 
     .container {
         max-width: 800px;
         margin: 20px auto;
         padding: 20px;
         background-color: white;
         border-radius: 5px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     }
 
     table {
         width: 100%;
         border-collapse: collapse;
         margin-top: 20px;
         background-color: #fff;
         border-radius: 5px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     }
 
     th, td {
         padding: 12px;
         text-align: center;
         border-bottom: 1px solid #ddd;
     }
 
     th {
         background-color: #333;
         color: white;
     }
 
     td {
         cursor: pointer;
     }
 
     input[type="text"] {
         width: 80%;
         padding: 8px;
         border: 1px solid #ddd;
         border-radius: 4px;
         box-sizing: border-box;
     }
 
     .edit-mode {
         background-color: #f5f5f5;
     }
 
     .edit-input {
         width: 100%;
     }
 
     .button-container {
         display: flex;
         justify-content: space-between;
         margin-top: 20px;
     }
 
     .add-button, .delete-button {
         background-color: #4CAF50;
         color: white;
         border: none;
         padding: 10px 20px;
         cursor: pointer;
         border-radius: 4px;
     }
 
     .delete-button {
         background-color: #f44336;
     }
 
     .add-button:hover, .delete-button:hover {
         background-color: #45a049;
     }
 </style>
   </head>
<body>
  <%-include ('partials/sidepanel'); %>
  <div>
    <button onclick="window.location.href='/Languagetable'">Language</button>
  <button onclick="window.location.href='/Countrytable'">Country</button>
  <button onclick="window.location.href='/Currencytable'">Currency</button>
  <button onclick="window.location.href='/Unittable'">Unit & Measurment</button>
  <button onclick="window.location.href='/Statetable'">State</button>
</div>


  
<div class="container">
  <table id="myTable">
    <h1>Currency Table</h1>
<thead>
  <tr>
    <th>Currency Code</th>
    <th>Currency Name</th>
  </tr>
</thead>

<tbody id="tableBody">
  <tr>
    <td>ADP</td>
    <td>Andorran Peseta (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>AED</td>
    <td>United Arab Emirates Dirham</td>
  </tr>
  <tr>
    <td>AFA</td>
    <td>Afghani (Old)</td>
  </tr>
  <tr>
    <td>AFN</td>
    <td>Afghani</td>
  </tr>
  <tr>
    <td>ALL</td>
    <td>Albanian Lek</td>
  </tr>
  <tr>
    <td>AMD</td>
    <td>Armenian Dram</td>
  </tr>
  <tr>
    <td>ANG</td>
    <td>West Indian Guilder</td>
  </tr>
  <tr>
    <td>AOA</td>
    <td>Angolanische Kwanza</td>
  </tr>
  <tr>
    <td>AON</td>
    <td>Angolan New Kwanza (Old)</td>
  </tr>
  <tr>
    <td>AOR</td>
    <td>Angolan Kwanza Reajustado (Old)</td>
  </tr>
  <tr>
    <td>ARS</td>
    <td>Argentine Peso</td>
  </tr>
  <tr>
    <td>ATS</td>
    <td>Austrian Schilling (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>AUD</td>
    <td>Australian Dollar</td>
  </tr>
  <tr>
    <td>AWG</td>
    <td>Aruban Florin</td>
  </tr>
  <tr>
    <td>AZM</td>
    <td>Azerbaijan Manat (Old)</td>
  </tr>
  <tr>
    <td>AZN</td>
    <td>Azerbaijan Manat</td>
  </tr>
  <tr>
    <td>BAM</td>
    <td>Bosnia and Herzegovina Convertible Mark</td>
  </tr>
  <tr>
    <td>BBD</td>
    <td>Barbados Dollar</td>
  </tr>
  <tr>
    <td>BDT</td>
    <td>Bangladesh Taka</td>
  </tr>
  <tr>
    <td>BEF</td>
    <td>Belgian Franc (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>BGN</td>
    <td>Bulgarian Lev</td>
  </tr>
  <tr>
    <td>BHD</td>
    <td>Bahrain Dinar</td>
  </tr>
  <tr>
    <td>BIF</td>
    <td>Burundi Franc</td>
  </tr>
  <tr>
    <td>BMD</td>
    <td>Bermudan Dollar</td>
  </tr>
  <tr>
    <td>BND</td>
    <td>Brunei Dollar</td>
  </tr>
  <tr>
    <td>BOB</td>
    <td>Boliviano</td>
  </tr>
  <tr>
    <td>BRL</td>
    <td>Brazilian Real</td>
  </tr>
  <tr>
    <td>BSD</td>
    <td>Bahaman Dollar</td>
  </tr>
  <tr>
    <td>BTN</td>
    <td>Bhutan Ngultrum</td>
  </tr>
  <tr>
    <td>BWP</td>
    <td>Botswana Pula</td>
  </tr>
  <tr>
    <td>BYB</td>
    <td>Belorussian Ruble (Old)</td>
  </tr>
  <tr>
    <td>BYR</td>
    <td>Belorussian Ruble</td>
  </tr>
  <tr>
    <td>BZD</td>
    <td>Belize Dollar</td>
  </tr>
  <tr>
    <td>CAD</td>
    <td>Canadian Dollar</td>
  </tr>
  <tr>
    <td>CDF</td>
    <td>Congolese Franc</td>
  </tr>
  <tr>
    <td>CFP</td>
    <td>French Franc (Pacific Islands)</td>
  </tr>
  <tr>
    <td>CHF</td>
    <td>Swiss Franc</td>
  </tr>
  <tr>
    <td>CLP</td>
    <td>Chilean Peso</td>
  </tr>
  <tr>
    <td>CNY</td>
    <td>Chinese Renminbi</td>
  </tr>
  <tr>
    <td>COP</td>
    <td>Colombian Peso</td>
  </tr>
  <tr>
    <td>CRC</td>
    <td>Costa Rica Colon</td>
  </tr>
  <tr>
    <td>CSD</td>
    <td>Serbian Dinar (Old)</td>
  </tr>
  <tr>
    <td>CUC</td>
    <td>Peso Convertible</td>
  </tr>
  <tr>
    <td>CUP</td>
    <td>Cuban Peso</td>
  </tr>
  <tr>
    <td>CVE</td>
    <td>Cape Verde Escudo</td>
  </tr>
  <tr>
    <td>CYP</td>
    <td>Cyprus Pound (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>CZK</td>
    <td>Czech Krona</td>
  </tr>
  <tr>
    <td>DEM</td>
    <td>German Mark (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>DEM3</td>
    <td>(Internal) German Mark (3 dec.places)</td>
  </tr>
  <tr>
    <td>DJF</td>
    <td>Djibouti Franc</td>
  </tr>
  <tr>
    <td>DKK</td>
    <td>Danish Krone</td>
  </tr>
  <tr>
    <td>DOP</td>
    <td>Dominican Peso</td>
  </tr>
  <tr>
    <td>DZD</td>
    <td>Algerian Dinar</td>
  </tr>
  <tr>
    <td>ECS</td>
    <td>Ecuadorian Sucre (Old -&gt; USD)</td>
  </tr>
  <tr>
    <td>EEK</td>
    <td>Estonian Krone (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>EGP</td>
    <td>Egyptian Pound</td>
  </tr>
  <tr>
    <td>ERN</td>
    <td>Eritrean Nafka</td>
  </tr>
  <tr>
    <td>ESP</td>
    <td>Spanish Peseta (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>ETB</td>
    <td>Ethiopian Birr</td>
  </tr>
  <tr>
    <td>EUR</td>
    <td>European Euro</td>
  </tr>
  <tr>
    <td>FIM</td>
    <td>Finnish Markka (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>FJD</td>
    <td>Fiji Dollar</td>
  </tr>
  <tr>
    <td>FKP</td>
    <td>Falkland Pound</td>
  </tr>
  <tr>
    <td>FRF</td>
    <td>French Franc (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>GBP</td>
    <td>British Pound</td>
  </tr>
  <tr>
    <td>GEL</td>
    <td>Georgian Lari</td>
  </tr>
  <tr>
    <td>GHC</td>
    <td>Ghanaian Cedi (Old)</td>
  </tr>
  <tr>
    <td>GHS</td>
    <td>Ghanian Cedi</td>
  </tr>
  <tr>
    <td>GIP</td>
    <td>Gibraltar Pound</td>
  </tr>
  <tr>
    <td>GMD</td>
    <td>Gambian Dalasi</td>
  </tr>
  <tr>
    <td>GNF</td>
    <td>Guinean Franc</td>
  </tr>
  <tr>
    <td>GRD</td>
    <td>Greek Drachma (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>GTQ</td>
    <td>Guatemalan Quetzal</td>
  </tr>
  <tr>
    <td>GWP</td>
    <td>Guinea Peso (Old -&gt; SHP)</td>
  </tr>
  <tr>
    <td>GYD</td>
    <td>Guyana Dollar</td>
  </tr>
  <tr>
    <td>HKD</td>
    <td>Hong Kong Dollar</td>
  </tr>
  <tr>
    <td>HNL</td>
    <td>Honduran Lempira</td>
  </tr>
  <tr>
    <td>HRK</td>
    <td>Croatian Kuna</td>
  </tr>
  <tr>
    <td>HTG</td>
    <td>Haitian Gourde</td>
  </tr>
  <tr>
    <td>HUF</td>
    <td>Hungarian Forint</td>
  </tr>
  <tr>
    <td>IDR</td>
    <td>Indonesian Rupiah</td>
  </tr>
  <tr>
    <td>IEP</td>
    <td>Irish Punt (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>ILS</td>
    <td>Israeli Scheckel</td>
  </tr>
  <tr>
    <td>INR</td>
    <td>Indian Rupee</td>
  </tr>
  <tr>
    <td>IQD</td>
    <td>Iraqui Dinar</td>
  </tr>
  <tr>
    <td>IRR</td>
    <td>Iranian Rial</td>
  </tr>
  <tr>
    <td>ISK</td>
    <td>Iceland Krona</td>
  </tr>
  <tr>
    <td>ITL</td>
    <td>Italian Lira (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>JMD</td>
    <td>Jamaican Dollar</td>
  </tr>
  <tr>
    <td>JOD</td>
    <td>Jordanian Dinar</td>
  </tr>
  <tr>
    <td>JPY</td>
    <td>Japanese Yen</td>
  </tr>
  <tr>
    <td>KES</td>
    <td>Kenyan Shilling</td>
  </tr>
  <tr>
    <td>KGS</td>
    <td>Kyrgyzstan Som</td>
  </tr>
  <tr>
    <td>KHR</td>
    <td>Cambodian Riel</td>
  </tr>
  <tr>
    <td>KMF</td>
    <td>Comoros Franc</td>
  </tr>
  <tr>
    <td>KPW</td>
    <td>North Korean Won</td>
  </tr>
  <tr>
    <td>KRW</td>
    <td>South Korean Won</td>
  </tr>
  <tr>
    <td>KWD</td>
    <td>Kuwaiti Dinar</td>
  </tr>
  <tr>
    <td>KYD</td>
    <td>Cayman Dollar</td>
  </tr>
  <tr>
    <td>KZT</td>
    <td>Kazakstanian Tenge</td>
  </tr>
  <tr>
    <td>LAK</td>
    <td>Laotian Kip</td>
  </tr>
  <tr>
    <td>LBP</td>
    <td>Lebanese Pound</td>
  </tr>
  <tr>
    <td>LKR</td>
    <td>Sri Lankan Rupee</td>
  </tr>
  <tr>
    <td>LRD</td>
    <td>Liberian Dollar</td>
  </tr>
  <tr>
    <td>LSL</td>
    <td>Lesotho Loti</td>
  </tr>
  <tr>
    <td>LTL</td>
    <td>Lithuanian Lita</td>
  </tr>
  <tr>
    <td>LUF</td>
    <td>Luxembourg Franc (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>LVL</td>
    <td>Latvian Lat</td>
  </tr>
  <tr>
    <td>LYD</td>
    <td>Libyan Dinar</td>
  </tr>
  <tr>
    <td>MAD</td>
    <td>Moroccan Dirham</td>
  </tr>
  <tr>
    <td>MDL</td>
    <td>Moldavian Leu</td>
  </tr>
  <tr>
    <td>MGA</td>
    <td>Madagascan Ariary</td>
  </tr>
  <tr>
    <td>MGF</td>
    <td>Madagascan Franc (Old)</td>
  </tr>
  <tr>
    <td>MKD</td>
    <td>Macedonian Denar</td>
  </tr>
  <tr>
    <td>MMK</td>
    <td>Myanmar Kyat</td>
  </tr>
  <tr>
    <td>MNT</td>
    <td>Mongolian Tugrik</td>
  </tr>
  <tr>
    <td>MOP</td>
    <td>Macao Pataca</td>
  </tr>
  <tr>
    <td>MRO</td>
    <td>Mauritanian Ouguiya</td>
  </tr>
  <tr>
    <td>MTL</td>
    <td>Maltese Lira (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>MUR</td>
    <td>Mauritian Rupee</td>
  </tr>
  <tr>
    <td>MVR</td>
    <td>Maldive Rufiyaa</td>
  </tr>
  <tr>
    <td>MWK</td>
    <td>Malawi Kwacha</td>
  </tr>
  <tr>
    <td>MXN</td>
    <td>Mexican Pesos</td>
  </tr>
  <tr>
    <td>MYR</td>
    <td>Malaysian Ringgit</td>
  </tr>
  <tr>
    <td>MZM</td>
    <td>Mozambique Metical (Old)</td>
  </tr>
  <tr>
    <td>MZN</td>
    <td>Mozambique Metical</td>
  </tr>
  <tr>
    <td>NAD</td>
    <td>Namibian Dollar</td>
  </tr>
  <tr>
    <td>NGN</td>
    <td>Nigerian Naira</td>
  </tr>
  <tr>
    <td>NIO</td>
    <td>Nicaraguan Cordoba Oro</td>
  </tr>
  <tr>
    <td>NLG</td>
    <td>Dutch Guilder (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>NOK</td>
    <td>Norwegian Krone</td>
  </tr>
  <tr>
    <td>NPR</td>
    <td>Nepalese Rupee</td>
  </tr>
  <tr>
    <td>NZD</td>
    <td>New Zealand Dollars</td>
  </tr>
  <tr>
    <td>NZD5</td>
    <td>New Zealand Dollars</td>
  </tr>
  <tr>
    <td>OMR</td>
    <td>Omani Rial</td>
  </tr>
  <tr>
    <td>PAB</td>
    <td>Panamanian Balboa</td>
  </tr>
  <tr>
    <td>PEN</td>
    <td>Peruvian New Sol</td>
  </tr>
  <tr>
    <td>PGK</td>
    <td>Papua New Guinea Kina</td>
  </tr>
  <tr>
    <td>PHP</td>
    <td>Philippine Peso</td>
  </tr>
  <tr>
    <td>PKR</td>
    <td>Pakistani Rupee</td>
  </tr>
  <tr>
    <td>PLN</td>
    <td>Polish Zloty (new)</td>
  </tr>
  <tr>
    <td>PTE</td>
    <td>Portuguese Escudo (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>PYG</td>
    <td>Paraguayan Guarani</td>
  </tr>
  <tr>
    <td>QAR</td>
    <td>Qatar Rial</td>
  </tr>
  <tr>
    <td>RMB</td>
    <td>Chinese Yuan Renminbi</td>
  </tr>
  <tr>
    <td>ROL</td>
    <td>Romanian Leu (Old)</td>
  </tr>
  <tr>
    <td>RON</td>
    <td>Romanian Leu</td>
  </tr>
  <tr>
    <td>RSD</td>
    <td>Serbian Dinar</td>
  </tr>
  <tr>
    <td>RUB</td>
    <td>Russian Ruble</td>
  </tr>
  <tr>
    <td>RWF</td>
    <td>Rwandan Franc</td>
  </tr>
  <tr>
    <td>SAR</td>
    <td>Saudi Riyal</td>
  </tr>
  <tr>
    <td>SBD</td>
    <td>Solomon Islands Dollar</td>
  </tr>
  <tr>
    <td>SCR</td>
    <td>Seychelles Rupee</td>
  </tr>
  <tr>
    <td>SDD</td>
    <td>Sudanese Dinar (Old)</td>
  </tr>
  <tr>
    <td>SDG</td>
    <td>Sudanese Pound</td>
  </tr>
  <tr>
    <td>SDP</td>
    <td>Sudanese Pound (until 1992)</td>
  </tr>
  <tr>
    <td>SEK</td>
    <td>Swedish Krona</td>
  </tr>
  <tr>
    <td>SGD</td>
    <td>Singapore Dollar</td>
  </tr>
  <tr>
    <td>SHP</td>
    <td>St.Helena Pound</td>
  </tr>
  <tr>
    <td>SIT</td>
    <td>Slovenian Tolar (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>SKK</td>
    <td>Slovakian Krona (Old -&gt; EUR)</td>
  </tr>
  <tr>
    <td>SLL</td>
    <td>Sierra Leone Leone</td>
  </tr>
  <tr>
    <td>SOS</td>
    <td>Somalian Shilling</td>
  </tr>
  <tr>
    <td>SRD</td>
    <td>Surinam Dollar</td>
  </tr>
  <tr>
    <td>SRG</td>
    <td>Surinam Guilder (Old)</td>
  </tr>
  <tr>
    <td>SSP</td>
    <td>South Sudanese Pound</td>
  </tr>
  <tr>
    <td>STD</td>
    <td>Sao Tome / Principe Dobra</td>
  </tr>
  <tr>
    <td>SVC</td>
    <td>El Salvador Colon</td>
  </tr>
  <tr>
    <td>SYP</td>
    <td>Syrian Pound</td>
  </tr>
  <tr>
    <td>SZL</td>
    <td>Swaziland Lilangeni</td>
  </tr>
  <tr>
    <td>THB</td>
    <td>Thailand Baht</td>
  </tr>
  <tr>
    <td>TJR</td>
    <td>Tajikistani Ruble (Old)</td>
  </tr>
  <tr>
    <td>TJS</td>
    <td>Tajikistani Somoni</td>
  </tr>
  <tr>
    <td>TMM</td>
    <td>Turkmenistani Manat (Old)</td>
  </tr>
  <tr>
    <td>TMT</td>
    <td>Turkmenistani Manat</td>
  </tr>
  <tr>
    <td>TND</td>
    <td>Tunisian Dinar</td>
  </tr>
  <tr>
    <td>TOP</td>
    <td>Tongan Pa'anga</td>
  </tr>
  <tr>
    <td>TPE</td>
    <td>Timor Escudo -&gt; USD</td>
  </tr>
  <tr>
    <td>TRL</td>
    <td>Turkish Lira (Old)</td>
  </tr>
  <tr>
    <td>TRY</td>
    <td>Turkish Lira</td>
  </tr>
  <tr>
    <td>TTD</td>
    <td>Trinidad and Tobago Dollar</td>
  </tr>
  <tr>
    <td>TWD</td>
    <td>New Taiwan Dollar</td>
  </tr>
  <tr>
    <td>TZS</td>
    <td>Tanzanian Shilling</td>
  </tr>
  <tr>
    <td>UAH</td>
    <td>Ukraine Hryvnia</td>
  </tr>
  <tr>
    <td>UGX</td>
    <td>Ugandan Shilling</td>
  </tr>
  <tr>
    <td>USD</td>
    <td>United States Dollar</td>
  </tr>
  <tr>
    <td>USDN</td>
    <td>(Internal) United States Dollar (5 Dec.)</td>
  </tr>
  <tr>
    <td>UYU</td>
    <td>Uruguayan Peso</td>
  </tr>
  <tr>
    <td>UZS</td>
    <td>Uzbekistan Som</td>
  </tr>
  <tr>
    <td>VEB</td>
    <td>Venezuelan Bolivar (Old)</td>
  </tr>
  <tr>
    <td>VEF</td>
    <td>Venezuelan Bolivar</td>
  </tr>
  <tr>
    <td>VND</td>
    <td>Vietnamese Dong</td>
  </tr>
  <tr>
    <td>VUV</td>
    <td>Vanuatu Vatu</td>
  </tr>
  <tr>
    <td>WST</td>
    <td>Samoan Tala</td>
  </tr>
  <tr>
    <td>XAF</td>
    <td>Gabon CFA Franc BEAC</td>
  </tr>
  <tr>
    <td>XCD</td>
    <td>East Carribean Dollar</td>
  </tr>
  <tr>
    <td>XEU</td>
    <td>European Currency Unit (E.C.U.)</td>
  </tr>
  <tr>
    <td>XOF</td>
    <td>Benin CFA Franc BCEAO</td>
  </tr>
  <tr>
    <td>XPF</td>
    <td>CFP Franc</td>
  </tr>
  <tr>
    <td>YER</td>
    <td>Yemeni Ryal</td>
  </tr>
  <tr>
    <td>YUM</td>
    <td>New Yugoslavian Dinar (Old)</td>
  </tr>
  <tr>
    <td>ZAR</td>
    <td>South African Rand</td>
  </tr>
  <tr>
    <td>ZMK</td>
    <td>Zambian Kwacha (Old)</td>
  </tr>
  <tr>
    <td>ZMW</td>
    <td>Zambian Kwacha (New)</td>
  </tr>
  <tr>
    <td>ZRN</td>
    <td>Zaire (Old)</td>
  </tr>
  <tr>
    <td>ZWD</td>
    <td>Zimbabwean Dollar (Old)</td>
  </tr>
  <tr>
    <td>ZWL</td>
    <td>Zimbabwean Dollar (New)</td>
  </tr>
  <tr>
    <td>ZWN</td>
    <td>Zimbabwean Dollar (Old)</td>
  </tr>
  <tr>
    <td>ZWR</td>
    <td>Zimbabwean Dollar (Old)</td>
  </tr>
</tbody>
</table>

    
  </section>

  

</body>
</html>
