<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <style>
       
        table, th, td {
            border:1px solid black;
        }
        .container1 {
            width: 160vh;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100;
            border-collapse: collapse;
            margin-top: 20px;
            background-color:bisque;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #333;
            color: white;
        }

        input[type="text"], input[type="checkbox"] {
            width: 100%;
            
            border: 1px solid black;
            border-radius: 4px;
        }

        #addRowButton, #saveDataButton {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 4px;
        }

        #addRowButton:hover, #saveDataButton:hover {
            background-color: #45a049;
        }

        h2 {
            font-size: 24px;
            margin-top: 20px;
        }


        

     </style>
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <button>Select field</button>
    <button>Technical view</button>
    <button>Other Description</button>
    <button>Field Attributes</button><br><bR>
    <div class="container1" style="overflow-y: scroll; height: 500px;width: 22280px;">
      <table>
        <tr>
            <th>Selected Fields</th>
            <th>FieldCatlg</th>
        </tr>
        <tr>
          <td class="selectedFields" id="selectedFieldsRow1"></td>
          <td class="fieldCatlg" data-row="1" ondblclick="copyToSelected(this)">Batch</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow2"></td>
          <td class="fieldCatlg" data-row="2" ondblclick="copyToSelected(this)">City Code</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow3"></td>
          <td class="fieldCatlg" data-row="3" ondblclick="copyToSelected(this)">City of deliv.plant</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow4"></td>
          <td class="fieldCatlg" data-row="4" ondblclick="copyToSelected(this)">Company Code</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow5"></td>
          <td class="fieldCatlg" data-row="5" ondblclick="copyToSelected(this)">Country</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow6"></td>
          <td class="fieldCatlg" data-row="6" ondblclick="copyToSelected(this)">Country Code</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow7"></td>
          <td class="fieldCatlg" data-row="7" ondblclick="copyToSelected(this)">Country of div.plant</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow8"></td>
          <td class="fieldCatlg" data-row="8" ondblclick="copyToSelected(this)">Customer</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow9"></td>
          <td class="fieldCatlg" data-row="9" ondblclick="copyToSelected(this)">Customer Group</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow10"></td>
          <td class="fieldCatlg" data-row="10" ondblclick="copyToSelected(this)">Destination Country</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow11"></td>
          <td class="fieldCatlg" data-row="11" ondblclick="copyToSelected(this)">Distribution Channel</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow12"></td>
          <td class="fieldCatlg" data-row="12" ondblclick="copyToSelected(this)">Division</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow13"></td>
          <td class="fieldCatlg" data-row="13" ondblclick="copyToSelected(this)">EAN/UPC</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow14"></td>
          <td class="fieldCatlg" data-row="14" ondblclick="copyToSelected(this)">Forwarding agent</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow15"></td>
          <td class="fieldCatlg" data-row="15" ondblclick="copyToSelected(this)">Material</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow16"></td>
          <td class="fieldCatlg" data-row="16" ondblclick="copyToSelected(this)">Material Group</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow17"></td>
          <td class="fieldCatlg" data-row="17" ondblclick="copyToSelected(this)">Material Type</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow18"></td>
          <td class="fieldCatlg" data-row="18" ondblclick="copyToSelected(this)">Material entered</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow19"></td>
          <td class="fieldCatlg" data-row="19" ondblclick="copyToSelected(this)">Material pricing grp</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow20"></td>
          <td class="fieldCatlg" data-row="20" ondblclick="copyToSelected(this)">Model</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow21"></td>
          <td class="fieldCatlg" data-row="21" ondblclick="copyToSelected(this)">Payer</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow22"></td>
          <td class="fieldCatlg" data-row="22" ondblclick="copyToSelected(this)">Plant</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow23"></td>
          <td class="fieldCatlg" data-row="23" ondblclick="copyToSelected(this)">Pricing Ref. Matl</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow24"></td>
          <td class="fieldCatlg" data-row="24" ondblclick="copyToSelected(this)">Product hierarchy</td>
      </tr>
      <tr>
          <td class="selectedFields" id="selectedFieldsRow25"></td>
          <td class="fieldCatlg" data-row="25" ondblclick="copyToSelected(this)">Purchasing Info Rec.</td>
      </tr>
      <tr>
        <td class="selectedFields" id="selectedFieldsRow26"></td>
        <td class="fieldCatlg" data-row="26" ondblclick="copyToSelected(this)">Region</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow27"></td>
        <td class="fieldCatlg" data-row="27" ondblclick="copyToSelected(this)">Region of dlv.plant</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow28"></td>
        <td class="fieldCatlg" data-row="28" ondblclick="copyToSelected(this)">Repair: Classification of Items</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow29"></td>
        <td class="fieldCatlg" data-row="29" ondblclick="copyToSelected(this)">SD document categ.</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow30"></td>
        <td class="fieldCatlg" data-row="30" ondblclick="copyToSelected(this)">Sales Document Type</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow31"></td>
        <td class="fieldCatlg" data-row="31" ondblclick="copyToSelected(this)">Sales Organization</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow32"></td>
        <td class="fieldCatlg" data-row="32" ondblclick="copyToSelected(this)">Sales employee</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow33"></td>
        <td class="fieldCatlg" data-row="33" ondblclick="copyToSelected(this)">Ship-to party</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow34"></td>
        <td class="fieldCatlg" data-row="34" ondblclick="copyToSelected(this)">Sold-to party</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow35"></td>
        <td class="fieldCatlg" data-row="35" ondblclick="copyToSelected(this)">Unit of measure</td>
    </tr>
    <tr>
        <td class="selectedFields" id="selectedFieldsRow36"></td>
        <td class="fieldCatlg" data-row="36" ondblclick="copyToSelected(this)">Warrenty</td>
    </tr>
        
    </table>
    
        

        
    
    </div>
    </div>


  <script>
 
    let selectedCells = [];

function copyToSelected(cell) {
if (!selectedCells.includes(cell)) {
let selectedFields = document.querySelector("#selectedFieldsRow" + cell.dataset.row);

let newCell = document.createElement('td');
newCell.innerHTML = cell.innerHTML;

let newRow = document.createElement('tr');
newRow.appendChild(newCell);

selectedFields.appendChild(newRow);

selectedCells.push(cell);
}
}

  </script>

</body>
</html>


