<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 
    
    <%-include ('partials/sidepanel'); %>

    <button onclick="window.location.href='/Output_Det_SDoc_Output_Partner_NewEntry'">New Entry +</button>
    <h2>Output Types</h2>
    <!-- new Entries -->
    <div class="container1" style="overflow: scroll;">
      <table>
        <tr>
            <th>Medium</th>
            <th>Function</th>
            <th>Name</th>
          
        </tr>
        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>


        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><select><option></option></select></td>
            <td></td>
            <td></td>
        
        </tr>
       
    </table>
    
        

        
    
    </div>
    </div>



</body>
</html>


