<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <style>
     
      .button5{
      background-color:rgb(255,228,196);
      color: black;
 
     }
     .button5:hover {
    background-color: whitesmoke;
}

     </style>
 
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

    <h2>Automatic Creation of SLoc. for Movement </h2>

    <!-- new Entries -->
    <div class="container1" >
      <table>
        <thead>
        <tr>
            <th>Movement Type</th>
            <th>Movement Type Text</th>
            <th>Special Stock Indicator</th>
            <th>Special Stock Desc.</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">201</button></td>
            <td>GI for cost center</td>
            <td></td>
            <td></td>
        
        </tr>

        <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">202</button></td>
            <td>RE for cost center</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">221</button></td>
            <td>GI for project</td>
            <td></td>
            <td></td>
        
          </tr>
          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">222</button></td>
            <td>RE for project</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">231</button></td>
            <td>GI for sales order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">232</button></td>
            <td>RE for sales order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">241</button></td>
            <td>GI for asset</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">242</button></td>
            <td>RE for asset</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">251</button></td>
            <td>GI for sales</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">252</button></td>
            <td>RE for sales</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">261</button></td>
            <td>GI for order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">262</button></td>
            <td>RE for order</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">281</button></td>
            <td>GI for network</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">282</button></td>
            <td>RE for network</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">291</button></td>
            <td>GI all acc. assigmts</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">292</button></td>
            <td>RE all acct assigmts</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">301</button></td>
            <td>TF tfr.plnt.to plnt.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">302</button></td>
            <td>TR tfr.plnt.to plnt.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">303</button></td>
            <td>TF rem.fm.stor.to pl</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">304</button></td>
            <td>TR rem.fm.stor.to pl</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">309</button></td>
            <td>TF tfr.ps.mat.to mat</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">310</button></td>
            <td>TR tfr.ps.mat.to mat</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">311</button></td>
            <td>TF tfr. within plant</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">312</button></td>
            <td>TR transfer in plant</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">313</button></td>
            <td>TF rem.fm.str.to SLoc</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">314</button></td>
            <td>TR rem.fm.str.to SLoc</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">317</button></td>
            <td>Create struct. mat.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">318</button></td>
            <td>RE create struc. mat</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">319</button></td>
            <td>Split structured mat</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">320</button></td>
            <td>RE split struct.mat.</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">321</button></td>
            <td>TF quality to unrest</td>
            <td></td>
            <td></td>
        
          </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">322</button></td>
            <td>TR quality to unrest</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">323</button></td>
            <td>TF quality in plant</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">324</button></td>
            <td>TR quality in plant</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">325</button></td>
            <td>TF blocked in plant</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">326</button></td>
            <td>TR blocked in plant</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">331</button></td>
            <td>GI to sampling QI</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">332</button></td>
            <td>RE to sampling QI</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">333</button></td>
            <td>GI to sampling unre.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">334</button></td>
            <td>RE to sampling unre.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">335</button></td>
            <td>GI to sampl. blocked</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">336</button></td>
            <td>RE to sampling blkd</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">343</button></td>
            <td>TF blocked to unre.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">344</button></td>
            <td>TR blocked to unre.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">349</button></td>
            <td>TF blocked to qual.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">350</button></td>
            <td>TR blocked to qual.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">351</button></td>
            <td>TF to stck in trans.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">352</button></td>
            <td>TR to stck in trans.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">411</button></td>
            <td>TP own to own</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">412</button></td>
            <td>Reversal own to own</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">413</button></td>
            <td>TP SLoc to sls order</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">414</button></td>
            <td>Rev. SLoc to sls ord</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">415</button></td>
            <td>TP SLoc to project</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">416</button></td>
            <td>Rev. SLoc to proj.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">441</button></td>
            <td>TP unrstr.to tiedEmp</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">442</button></td>
            <td>TP tiedEmp.to unrstr</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">453</button></td>
            <td>TP returns to own</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">454</button></td>
            <td>TP own to returns</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">455</button></td>
            <td>TF st.tfr. returns</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">456</button></td>
            <td>TR St.tfr. returns</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">457</button></td>
            <td>TP Ret.to own QIS</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">458</button></td>
            <td>TP Own QIS to ret.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">459</button></td>
            <td>TP Ret.to own blckd</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">460</button></td>
            <td>TP Own blckt to ret.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">541</button></td>
            <td>GI whse to subc.stck</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">542</button></td>
            <td>RE subctrStck toWhse</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">551</button></td>
            <td>GI scrapping</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">552</button></td>
            <td>RE scrapping</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">553</button></td>
            <td>GI scrapping QI</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">554</button></td>
            <td>RE scrapping QI</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">555</button></td>
            <td>GI scrapping blocked</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">556</button></td>
            <td>RE scrapping blocked</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">557</button></td>
            <td>GI adjust. transit</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">558</button></td>
            <td>RE adjust. transit</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">571</button></td>
            <td>GI receipt assembly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">572</button></td>
            <td>RE receipt assembly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">573</button></td>
            <td>GI rcpt QI assembly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">574</button></td>
            <td>RE rcpt QI assembly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">575</button></td>
            <td>GI rcpt blkd assmbly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">576</button></td>
            <td>RE rcpt blkd assmbly</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">601</button></td>
            <td>GD goods issue:delvy</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">617</button></td>
            <td>Cre. Str. Mat. Cons.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">618</button></td>
            <td>RE Cr. Str. Mat. Con</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">619</button></td>
            <td>Rem. Str. Mat. Cons.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">620</button></td>
            <td>RE Rem. Str Mat Cons</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">621</button></td>
            <td>GI ret.pack.:lending</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">622</button></td>
            <td>GI ret.pack:ret.del.</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">623</button></td>
            <td>GI iss:cust.ret.pack</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">624</button></td>
            <td>GI rcpt:cust.re.pack</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">631</button></td>
            <td>GI consgmt: lending</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">632</button></td>
            <td>GI consgmt:ret.delvy</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">633</button></td>
            <td>GI iss: cust.consgmt</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">634</button></td>
            <td>GI rcpt:cust.consgmt</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">717</button></td>
            <td>GI InvDiff.: blocked</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">718</button></td>
            <td>GR InvDiff.: blocked</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">833</button></td>
            <td>Reval. iss. w. tax</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">834</button></td>
            <td>R reval. iss. w tax</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">836</button></td>
            <td>R reval. rec. w tax</td>
            <td></td>
            <td></td>
        
        </tr>

          <tr>
            <td><button  onclick="window.location.href='/Physical_Postings_ScLayout_Overview'" class="button5">901</button></td>
            <td>GI internal c.center</td>
            <td></td>
            <td></td>
        
        </tr>
    </tbody>

    </table>
    
 </div>   
 </div>


   

</body>
</html>


