<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <%-include ('partials/sidepanel'); %>

    <div class="container">
        <header> Functional Area   &nbsp;&nbsp;   <button type="submit">Submit</button>
        </header>
    
        <form action="/parkingformsent" method="POST">
            <div class="form first">
    
    
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label>Profit Center</label>
                            <input  name="vid" type="text"  style="margin-right: 600px;">
                        </div>
                      
                    
                    </div>
                    
                </div> 
            </div>
        </form><br>
        <form action="/parkingformsent" method="POST">
            <div class="form first">
    
    
                <div class="details ID">
                    <div class="fields">
                       
                        <div class="title">Copy From </div>
                        <div class="input-field">
                            <label>Profit Center</label>
                            <input name="loc_code" type="text" placeholder="" style="margin-right: 600px;">
                        </div>
                        <div class="input-field">
                            <label>Controlling Area</label>
                            <input name="loc_code" type="text" placeholder="" style="margin-right: 600px;">
                        </div>
                     
                       
    
                    </div>
                    
                </div> 
            </div>
        </form>
    </div>
  </section>


</body>
</html>


