
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/companyform.css">
   
    <link rel="stylesheet" href="css/table.css">
    <title>Document</title>

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


   </head>
<body >
    
    <%-include ('partials/sidepanel'); %>

    <h2>Text Type</h2>
    <button onclick="window.location.href='/SD_Text_TextType_Cust_TextType3_New'">New Entry +</button>

    <form action="/parkingformsent" method="POST">
        <div class="form first">


            <div class="details ID">
                <div class="fields">
                    <div class="input-field">
                        <label>Text Object</label>
                        <input  name="text" type=""  >
                    </div>
   
                </div>
                
            </div> 
        </div>
    </form>

    <div class="container1" style="height: 400px;">

      <table>
        <tr>
            <th>Text ID</th>
            <th>Description</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    
        

        
    
    </div>
    </div>

    
    

</body>
</html>


