<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <%-include ('partials/sidepanel'); %>

   
    <h2>Maintain Field Status Group: Partner Usage</h2>
 
        <div class="input-field">
   
            <table>
                <thead>
                    <th></th>
                    <th>Suppress</th>
                    <th>Required Entry</th>
                    <th>Optional Entry</th>
                    <th>Display</th>
                </thead>
                <tbody>
                    <!-- Your radio button rows here -->
                    <tr>
                        <td>Bussiness Partner Assignment</td>
                        <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                        <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


