<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


     <style>

.btn {
    margin-top: 10px; 
    padding: 2px 2px;
    background-color: rgb(0, 123, 255);
    width: 460px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #58ece5;
}
.divvv{
    
    margin-top:60px ;
    background-color: rgb(17,16,29);
     width: 800px;
     height: 420px;
     box-shadow: 20 10 30 rgb(15, 15, 15);
     align-items: center;
     justify-content: center;
     padding: 40px;
     padding-left: 80px;
}
h1,h3{
    color: white;
    margin-bottom:10px ;
}
       
     </style>
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

   
    <h2>Transaction Dependent Field Selection (VENDOR)</h2>
    
    
    <div>
        <h2>Select Group</h2>
        <div><button class="btn" onclick="window.location.href='/Vendor_Change_Centrally_VSR_SUBPartner'" style="width: 200px; margin-left: 90px;">Partner Usage:Subrange</button></div>
        <div><button class="btn" onclick="window.location.href='/Vendor_Change_Centrally_VSR_SUBPurch'" style="width: 200px; margin-left: 90px;">Subrange Purchasing Data</button></div>
    </div>


</body>
</html>


