<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
    <%-include ('partials/sidepanel'); %>

   
    <body>
        <h1>Maintain Field Status Group: Account Management</h1>
            <div class="input-field">
                <table>
                    <thead>
                        <th></th>
                        <th>Suppress</th>
                        <th>Required Entry</th>
                        <th>Optional Entry</th>
                        <th>Display</th>
                    </thead>
                    <tbody>
                        <!-- Your radio button rows here -->
                        <tr>
                            <td>Reconciliation Account</td>
                            <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row1" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Cash Management Group</td>
                            <td><input type="radio" name="row2" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row2" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row2" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row2" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Previous Account Number</td>
                            <td><input type="radio" name="row3" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row3" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row3" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row3" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Sort Key</td>
                            <td><input type="radio" name="row4" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row4" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row4" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row4" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Head Office</td>
                            <td><input type="radio" name="row5" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row5" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row5" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row5" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Authorization</td>
                            <td><input type="radio" name="row6" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row6" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row6" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row6" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Preference Indicator</td>
                            <td><input type="radio" name="row7" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row7" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row7" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row7" onclick="toggleRadio(this)"></td>
                        </tr>
    
    
                        <tr>
                            <td>Minority Indicator</td>
                            <td><input type="radio" name="row8" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row8" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row8" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row8" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Withholding Tax Code(1)</td>
                            <td><input type="radio" name="row9" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row9" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row9" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row9" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Withld.tax Exempt., Wthld.tax 1</td>
                            <td><input type="radio" name="row10" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row10" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row10" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row10" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Interest Calculation</td>
                            <td><input type="radio" name="row11" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row11" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row11" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row11" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Withh.tax cat.,Exemp.reason(1)</td>
                            <td><input type="radio" name="row12" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row12" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row12" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row12" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Withhloding Tax Country</td>
                            <td><input type="radio" name="row13" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row13" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row13" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row13" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Personnel Number</td>
                            <td><input type="radio" name="row14" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row14" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row14" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row14" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Release Group</td>
                            <td><input type="radio" name="row15" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row15" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row15" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row15" onclick="toggleRadio(this)"></td>
                        </tr>
    
                        <tr>
                            <td>Gross Income Tax</td>
                            <td><input type="radio" name="row16" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row16" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row16" onclick="toggleRadio(this)"></td>
                            <td><input type="radio" name="row16" onclick="toggleRadio(this)"></td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            function toggleRadio(element) {
            // Uncheck other radio buttons in the same row
            var rowRadios = document.querySelectorAll('input[name="' + element.name + '"]');
            rowRadios.forEach(function(radio) {
                if (radio !== element) {
                    radio.checked = false;
                }
            });
        }
        </script>
    </body>
</html>


