<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar</title>

    <link rel="stylesheet" href="css/companyform.css">
    <link rel="stylesheet" href="css/table.css">

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 
    
    <%-include ('partials/sidepanel'); %>


    <button onclick="window.location.href='/Logistics_BM_Condn_Warehouse_Allowed_New'">New Entry +</button>
    <!-- new Entries -->
    <div class="container1" >
        <table>
            <tr>
                <th>Field</th>
                <th>Description</th>
        
            </tr>
            <tr>
                <td>AUART</td>
                <td>Order Type</td>
            </tr>
    
            <tr>
                <td>BWTAR</td>
                <td>Valuation Type</td>
            </tr>
    
            <tr>
                <td>MATNR</td>
                <td>Material Number</td>
            </tr>
    
            <tr>
                <td>PMATN</td>
                <td>Material Number</td>
            </tr>
    
            <tr>
                <td>PWERK</td>
                <td>Planning Plant</td>
            </tr>
    
            <tr>
                <td>WERKS</td>
                <td>Plant</td>
            </tr>
        </table>
    
        
        
    
    </div>
    </div>



</body>
</html>


